/*
	Pay1
	main.css
	HTML,CSS,Design Level JS Code developed by :
	Author:Prashant Sani,<prashant@yellowslice.in>
	Colour Codes:
	purple	: #503c97
	blue	: #00bac6
*/

/* =============================================================================
	Index

	1) Global Styles,Resets,Global Links,Abstraction
	2) Header 
	3) Bootstrap redesigned 
	4) Left Menu
	5) Mobile Side Menu
	6) Content
	7) Library Styles (snap,datetime picker)
	8) Media Quaries
	==========================================================================  */

/*-----------------------------------------------------------------
 			Global Styles,Resets,Global Links,Abstraction
------------------------------------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,#details
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Selection */
::-moz-selection { background: #503c97; color: #fff; text-shadow: none; }
::selection { background: #503c97; color: #fff; text-shadow: none; }

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('webfonts/foobar_pro-regular-webfont.eot');
    src: url('webfonts/foobar_pro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/foobar_pro-regular-webfont.woff') format('woff'),
         url('webfonts/foobar_pro-regular-webfont.ttf') format('truetype'),
         url('webfonts/foobar_pro-regular-webfont.svg#foobar_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
	 font-family: 'Open Sans', sans-serif;
}

 a:hover{
 text-decoration: none;
 }

/*-------------------------------------------------------------
											Header 
---------------------------------------------------------------*/
header{
	background:F0F8FF;
}
.logo{
	float:left;
	padding:20px;
}
.notification-btn{
	display:none;
}
.navbar-header img{
	padding:20px;
}
.navbar-right ul li{
	display:inline-block;
	vertical-align:bottom;
}
.media-list{
	margin-top:10px;
}
.media{
	border:solid 0px #bdb3e1;
}
.media, .media-body{
	color:#fff;
}
.media-body h4{ 
	font-size:12px;
	margin:2px 0px 0px 0;
}
.media-body p{ 
	font-size:14px;
	margin:2px 5px 5px 0;
}
#absolute1 {
   top: 10px;
}
.logopos {
	position:absolute;
	top:10px;
	left:0;
}
.balance{
	font-size:20px !important;
    color:red;
}
.balance:before{
	content:'';
	background:url(../images/rupee.png) no-repeat left bottom;
	height:20px;
	width:15px;
	display:inline-block;
}
	
.setting{
	background:transparent;
	border:none;
	padding:0;
}
.setting img{
	border:#bdb3e1 solid 0px;
	padding:3px;
}
.settingMenu{
	border-radius:0;
	border:#e73c3c solid 1px;
}

.settingMenu li{
	padding:5px 15px;
	width:100%;
	border-bottom:#e73c3c solid 1px;
}
.settingMenu li:hover{
	background:#f5f5f5;
}
.settingMenu li:nth-child(4){
	border-bottom:none;
	padding-bottom:0;	
}

.breadcrumb{
        font-size: 15px;
	padding-left:0;
        //border:1px solid;
}
/* ------------------------------------------------------------
						Bootstrap Redesigned 
-------------------------------------------------------------*/
.glyphicon {
	padding: 6px 6px;
	background: #e73c3c;
	border: #e73c3c solid 1px;
	color:#fff;
	top:-7px;
}
/* Bootstrap Model Redesign */
.modal-content{
	border-radius:0px;
}
.modal-header{
	padding:10px;
	background:#fff455;
}
.modal-title img{
	vertical-align:middle;
	padding-right:10px;
}
button.close{
	vertical-align:middle;
	height:30px;
}
/* Bootstrap Default Table Style */
.table{
	padding-top:10px;
}
.table>thead>tr>th{
	color:#fff;
	background:#ed882d;
}
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th,
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th{
	background:#e7f7f5;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
	vertical-align:middle;
}
/* Bootstrap Default Form Control Settings*/
.form-control{
	width:295px;
	border-radius:0px;
	margin:8px 0;
	height:auto;
	padding:6px 12px;
	font-size:14px;
	border:#ED1C24 solid 1px;
}
label{
	color:#000;
	font-size:14px;
}
.default-btn{
	font-size:18px;
	background:#252525;
	color:#fff;
}
/* Bootstrap Nav tab */
#reversalStatusTab,#reversalRequestTab,#myTab{
	background:#e1dbdb;
	color:#fff;
	height:44px;
	width:100%;
}
#reversalStatusTab li,#reversalRequestTab li,#myTab li{
	background:#e1dbdb;
	color:#848484;
	font-size:13px;
}
#reversalStatusTab a, #reversalRequestTab a, #myTab a{
	color:black;
   
}
#reversalRequestTab li.active a,#reversalStatusTab li.active a, #myTab li.active a{
	color:#fff;
	background:#e73c3c;
    
}
.nav-tabs>li>a{
	border-radius:0px;
}
#myTabContent, #reversalStatusTabContent, #reversalRequestTabContent{
	padding-top:30px;
}

/*---------------------------------------------------------
								 Left menu 
-----------------------------------------------------------*/
snap-drawer-left aside{
	margin-top:50px;
}
.left-menu li{
	width:100%;
	padding:15px;
	padding-left:60px;
	color:#000;
	border-top:#333333 solid 1px;
}
.left-menu li a{
	font-size:16px;
	text-decoration:none;
	color:inherit;
}

li.reports.active {
	padding: 15px 0 15px 60px;
}
.left-menu li ul{
	background-color:#fff;
	margin:15px 0 -16px -60px;
	width:300px;
}
.left-menu li a:hover ul{
	height:168px !important;
}
.left-menu li ul li{
	color:#000;
	border:solid 1px #f58220;
	padding:12px 15px;
	width:300px;
}

.left-menu li ul li a{
		font-size:16px;
}

.mobile{	
	background: url(../images/leftMenu/ic_mobile_black.png) no-repeat left center !important;
}
.dth{
	background: url(../images/leftMenu/ic_DTH_black.png) no-repeat left center;
}
.entertainment{
	background: url(../images/leftMenu/ic_entertainment_black.png) no-repeat left center;
}
.reports1{
	 background: transparent url("../images/leftMenu/ic_reports_black.png") no-repeat scroll left 9px;
}
.wallet{
	background: url(/img/mobile_wallet.png) /*url(../images/leftMenu/ic_pay1topup.png)*/ no-repeat left center;
}
.payment{
	background: url(/img/ic_online_payment.png) no-repeat left center;
}
.chat{
	background: url(../images/leftMenu/ic_support_black.png) no-repeat left center;
}
.reports{
	background: url(../images/leftMenu/reports.png) no-repeat left center;
}
.bus{
	background: url(../images/leftMenu/bus.png) no-repeat left center;
}
.bill{
	background: url(../images/leftMenu/ic_billpay_black.png) no-repeat left center;
}
.data{
	background: url(../images/leftMenu/data.png) no-repeat left center;
}
.recharge{
	background: url(../images/leftMenu/recharge.png) no-repeat left center;
}
.reversal{
	background: url(../images/leftMenu/ic_complaint_black.png) no-repeat left center;
}
.utility{
	background: url(../images/leftMenu/ic_utilitypay_black.png) no-repeat left center;
}
.online{
	background: url(/img/ic_online_balance_black.png) /*url(../images/leftMenu/online.png)*/ no-repeat left center;
}
.support{
	background: url(../images/leftMenu/ic_support_black.png) no-repeat left center;
}
.mobile span,.dth span,.entertainment span,.reports1 span,.reports span,.bus span,.bill span,.data span,.recharge span,.reversal span , .chat span ,.wallet span,.utility span,.online span,.support span{
/*		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-left: 10px solid #fff;
		position: absolute; 
		right: 10px;*/
}
.mobile span{	
	//border-left: 10px solid #252525;	
   // background: url(../images/leftMenu/ic_rtarrow.png) no-repeat left top;
}
.dth span{
	//background: url(../images/leftMenu/ic_rtarrow.png) no-repeat left top;
}
.entertainment span{
	//background: url(../images/leftMenu/ic_rtarrow.png) no-repeat left top;
}
.reports1 span{
	//background: url(../images/leftMenu/ic_rtarrow.png) no-repeat left top;
}
.reports span{
	//background: url(../images/leftMenu/ic_rtarrow.png) no-repeat left top;
}
.bus span{
	//background: url(../images/leftMenu/ic_rtarrow.png) no-repeat left top;
}
.bill span{
	//background: url(../images/leftMenu/ic_rtarrow.png) no-repeat left top;
}
.data span{
	//background: url(../images/leftMenu/ic_rtarrow.png) no-repeat left top;
}
.recharge span{
	//background: url(../images/leftMenu/ic_rtarrow.png) no-repeat left top;
}
.reversal span{
	//background: url(../images/leftMenu/ic_rtarrow.png) no-repeat left top;
}
.online span{
	background: url(../images/leftMenu/ic_rtarrow.png) no-repeat left top;
}
.chat span{
	///background: url(../images/leftMenu/ic_rtarrow.png) no-repeat left top;
}
.wallet span{
	//background: url(../images/leftMenu/ic_rtarrow.png) no-repeat left top;
}
.utility span{
	//background: url(../images/leftMenu/ic_rtarrow.png) no-repeat left top;
}
.support span{
	//background: url(../images/leftMenu/ic_rtarrow.png) no-repeat left top;
}
.mobile:hover,.dth:hover,.entertainment:hover,.reports:hover,.reports1:hover,.bus:hover,.bill:hover,.data:hover,.payment:hover,.online:hover,.recharge:hover,.reversal:hover,.wallet:hover,.chat:hover,.utility:hover,.support:hover{
	border-top:#c1c1c1 solid 1px;
	border-bottom:#c1c1c1 solid 1px !important;
	color:#fff !important;
}
.mobile.activeMenu ,.mobile:hover{	
	background:#252525 url(../images/leftMenu/ic_mobile_white.png) no-repeat left center !important;
}
.dth.activeMenu, .dth:hover{
	background:#252525 url(../images/leftMenu/ic_DTH_white.png) no-repeat left center;
}
.entertainment.activeMenu, .entertainment:hover{
	background:#252525 url(../images/leftMenu/ic_entertainment_white.png) no-repeat left center;
}

.reports1.activeMenu, .reports1:hover{
	background:#252525 url(../images/leftMenu/ic_reports_white.png)  no-repeat scroll left 9px;
}

.wallet.activeMenu, .wallet:hover{
	background:#252525 url(/img/wallet_topup_black.png) /*url(../images/leftMenu/ic_pay1topup.png)*/ no-repeat left center;
}

.payment.activeMenu, .payment:hover{
	background:#252525 url(/img/ic_online_payment_white.png) /*url(../images/leftMenu/ic_pay1topup.png)*/ no-repeat left center;
}

.chat.activeMenu, .chat:hover{
	background:#252525 url(../images/leftMenu/chat_support.png) no-repeat left center;
}
.reports.activeMenu, .reports:hover{
	background:#252525 url(../images/leftMenu/reports.png) no-repeat left center;
}
.sub-reports.activeMenu, .reports:hover{
	background:#252525 no-repeat left center;
}
.bus.activeMenu, .bus:hover{
	background:#252525 url(../images/leftMenu/bus.png) no-repeat left center;
}
.bill.activeMenu, .bill:hover{
	background:#252525 url(../images/leftMenu/ic_billpay_white.png) no-repeat left center;
}
.data.activeMenu, .data:hover{
	background:#252525 url(../images/leftMenu/data.png) no-repeat left center;
}
.recharge.activeMenu, .recharge:hover{
	background:#252525 url(../images/leftMenu/recharge.png) no-repeat left center;
}
.reversal.activeMenu, .reversal:hover{
	background:#252525 url(../images/leftMenu/ic_complaints_white.png) no-repeat left center;
}
.utility.activeMenu, .utility:hover{
	background:#252525 url(../images/leftMenu/ic_utilitypay_white.png) no-repeat left center;
}
.online.activeMenu, .online:hover{
	background:#252525 url(/img/ic_online_balance_white.png) /*url(../images/leftMenu/online.png)*/ no-repeat left center;
}
.support.activeMenu, .support:hover{
	background:#252525 url(../images/leftMenu/ic_support_white.png) no-repeat left center;
}
.activeMenu{
	color:#fff !important;
}

.activeMenu span{

}

/* ------------------------------------------------------------
								Mobile Side Menu
---------------------------------------------------------------*/
.mobileMenu{
	background:#e73c3c;
	height:100%;
	overflow:hidden !important;
}
.mobileMenu ul li{
	padding:20px 0 12px 35px;
	border-bottom:#1d8879 solid 1px;
}
.mobileMenu .media-list{
	background:#464646;
	padding:0;
	margin-top:-16px;
}
.mobileMenu ul li a{
	height: 25px;
	display: block;
	padding-top: 5px;
	padding-left: 40px;
	text-decoration:none;
	color:#000;
}
.mobileUpdateAddress{
	background: url(../images/updateAddress.png) left center no-repeat;
}
.mobileUpdatePin{
	background: url(../images/updatePin.png) left center no-repeat;
}
.mobileUpdateMobile{
	background: url(../images/updateMobile.png) left center no-repeat;
}
.mobileLogout{
	background: url(../images/logout.png) left center no-repeat;
}

/* Right Notification Section  */
.notification-list-top{
	width:300px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
	box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
	background-clip: padding-box;
	padding:0;
}
.notification{
	padding:10px;
	border-bottom:#efecec solid 1px;
        /*width:;*/
}
.notification:nth-child(even) {background: #e1dbdb}
	.notification:nth-child(odd) {background: #FFF}

.notification p{
	font-size:14px;
	margin:0;
	padding-bottom:3px;
}
.notification span{
	font-size:10px;
	float:right;
}

/* Chat Box */
.chatBox{
	position:absolute;
	bottom:-276px;
	right:0;
	color:#fff;
	padding:30px;
	background:#503c97;
	width:380px;
	z-index:3;
	webkit-transition: bottom 1s;
	-moz-transition: bottom 1s;
	-o-transition: bottom 1s;
	transition: bottom 1s;
}
.chatBox p{
	width:275px;
	font-size:20px;
	margin-bottom:20px;
}
.chatBox iframe{
	width:320px;
        height:400px;
	font-size:20px;
	margin-bottom:20px;
}
.chatBox p span{
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;	
	border-top: 15px solid #fff;
	position:absolute;
	right:20px;
	top:35px;
}
.boxDown{
	bottom:0px;		
}
.chat textarea{
	width:240px;
	border:none;
	outline:none;
	color:#000;
	font-size:14px;
	line-height:1.2;
	padding:10px;
	height:100px;
}
.chat input[type=submit]{
	border:none;
	outline:none;
	background-color:#e73c3c;
	display:block;
	margin-top:20px;
	padding:10px;
}
.openChat{
	position:absolute;
	top:-25px;
	border:none;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	background:#503b96;
	padding:8px 10px;
	right:0;
}

/* Main Sections */
.breadcrumb{
	background-color:#fff;
	font-size:15px;
	font-weight:700;
	padding:8px 15px 0 0;
	margin-bottom:20px;
	list-style:none;
}
.listBox {
	display:inline-block;
	margin:5px;
}
.listBox p{
	padding-top:2px;
	text-align:center;
}


/* Mobile Recharge */
#mobileRecharge p{
	width:310px;
	padding-bottom:10px;
}
.checkPlanForm{
	display:none;
}

#failed .modal-header{
	background-color:#d91a22
}
#success .modal-header{
	background-color:#8cdc02;
}

/* Bus Booking*/
#busBooking{
	
}
#busBooking img{
	padding:5px;
}

/* Setting */
#map-canvas{
		height:285px; 
		width:100%;
		margin-bottom:30px;
}

/* Report Earning */
.earningPrevious span{
	width: 0px; 
	height: 0; 
	display:block;
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	border-right: 11px solid #fff;
}
.earningNext span{
	width: 0px; 
	display:block;
	height: 0; 
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	border-left: 11px solid #fff;
}

/* Entertainment */
.enterTopic{
	margin-bottom:45px;
}

.enterTopic p{
	float:left;
	padding:10px;
	color:#e73c3c;
}
.enterTopic a{
	float:right;
	background:#e73c3c;
	padding:10px;
	text-decoration:none;
	color:#fff;
}

/* Bus Booking */
.busBookingDate .glyphicon{
	top:2px;
	right:35px;
	padding:8px 8px;
}
.busBookingDate input[type="text"]{
	width:295px;
}

/* Top up report */
.topUpDate .glyphicon{
	top:2px;
	right:35px;
	padding:8px 8px;
}
.topUpDate input[type="text"]{
	width:295px;
}


/* Search and Request */
.StatusSearch,.RequestSearch{
	display:block;
	/*width:250px;*/
	margin:0 auto;
	padding:0;
}
.StatusSearch input,.RequestSearch input{
	padding:5px;
	height:30px;
	font-size:18px;
	outline:none;
	/*margin-left:-5px;*/
	margin-top:10px;
	margin-bottom:30px;
	vertical-align:middle;
}
.RequestSearch input[type=submit], .StatusSearch input[type=submit]{
	border:none;
	padding:0 5px;
	color:#fff;
}
section .container{
	/*height:100%;*/
	/*width:540px;*/
}


/*---------------------------------------------------------------------------------
										Snap Content Liberary CSS
----------------------------------------------------------------------------------*/
.snap-content {
  background:#fff;
  position:absolute;
  z-index: 2;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.snap-drawers {
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
  background:#fff;
}

.snap-drawer {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  width: 265px;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: width 0.3s ease;
     -moz-transition: width 0.3s ease;
      -ms-transition: width 0.3s ease;
       -o-transition: width 0.3s ease;
          transition: width 0.3s ease;
}

.snap-drawer-left {
  left: 0;
  z-index: 1;
  top:30px;
}

.snap-drawer-right {
  right: 0;
  z-index: 1;
  top:-20px;
}

.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {
  display: none;
}

.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
  width: 100%;
}

/*!
Chosen, a Select Box Enhancer for jQuery and Prototype
by Patrick Filler for Harvest, http://getharvest.com

Version 1.1.0
Full source at https://github.com/harvesthq/chosen
Copyright (c) 2011 Harvest http://getharvest.com

MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
This file is generated by `grunt build`, do not edit it by hand.
*/

/* @group Base */
.chosen-container {
  position: relative;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #aaa;
  border-top: 0;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}
.chosen-container a {
  cursor: pointer;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  background-clip: padding-box;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	width: 295px;
	border-radius: 0px;
	margin: 8px 0;
	height: auto;
	padding: 6px 12px;
	font-size: 18px;
	border: #e73c3c solid 1px;
}
.chosen-container-single .chosen-default {
  color: #999;
}
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url('chosen-sprite.png') no-repeat 0px 2px;
}
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
.chosen-container-single .chosen-search input[type="text"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: white url('chosen-sprite.png') no-repeat 100% -20px;
  background: url('chosen-sprite.png') no-repeat 100% -20px;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  -webkit-touch-callout: none;
}
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
  color: #fff;
}
.chosen-container .chosen-results li.no-results {
  display: list-item;
  background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto !important;
  height: 1%;
  border: 1px solid #aaa;
  background-color: #fff;
  cursor: text;
}
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 5px;
  height: 15px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #666;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-multi .chosen-choices li.search-field .default {
  color: #999;
}
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 0 3px 5px;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: #e4e4e4;
  background-clip: padding-box;
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 1px 0 #fff inset;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}
.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #111 !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right;
}
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}
.chosen-rtl .chosen-choices li {
  float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: white url('chosen-sprite.png') no-repeat -30px -20px;
  background: url('chosen-sprite.png') no-repeat -30px -20px;
  direction: rtl;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url('chosen-sprite@2x.png') !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}
/* @end */


/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.datepicker > div {
  display: none;
}
.datepicker table {
  width: 100%;
  margin: 0;
}
.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}
.datepicker td.day.disabled {
  color: #eeeeee;
}
.datepicker td.old,
.datepicker td.new {
  color: #999999;
}
.datepicker td.active,
.datepicker td.active:hover {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
  background-color: #003399 \9;
}
.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td span:hover {
  background: #eeeeee;
}
.datepicker td span.active {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.datepicker td span.active:active,
.datepicker td span.active.active {
  background-color: #003399 \9;
}
.datepicker td span.old {
  color: #999999;
}
.datepicker th.switch {
  width: 145px;
}
.datepicker th.next,
.datepicker th.prev {
  font-size: 21px;
}
.datepicker thead tr:first-child th {
  cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

/* Bus Booking Confirmation */
.bookingConfirm p{
	padding:10px;
}
.bookingConfirm h2{
	padding:10px;
	color:#503b96;
}

/* Login */
.login .modal-dialog{
	width:340px;
	margin-top:100px;
}

.login_txt{
 color:#fff;
}

.login_txt:hover{
 color:#e73c3c;
}

.login .modal-header{
	background:#ED1C24;
	color:#fff;
}
.login .modal-title{
	text-align:center;
}
.login-btn{
	background:#252525;
}

/* OTP */
.otp .modal-dialog{
	width:340px;
	margin-top:100px;
}

.otp_txt{
 color:#fff;
}

.otp_txt:hover{
 color:#e73c3c;
}

.otp .modal-header{
	background:#ED1C24;
	color:#fff;
}
.otp .modal-title{
	text-align:center;
}
.otp-btn{
	background:#252525;
}

.otp-btn{
	width:132px;
	height:40px;
}

/* Quick Recharge */
.input-group{
	width:300px;
}
.input-group .form-control{
	margin:0;
}
.input-group .glyphicon{
	top:0;
}
.selectOperator{
	text-decoration:none;
	text-align:center;
	border:solid 1px #e73c3c;
}
.selectOperatorDiv{
	display:none;
	height:220px;
	margin:10px 0;
	overflow:auto;
	border:solid 1px #e73c3c;
}


@media screen and (min-width:1024px){
	section{
		width:90%;
		margin:0 auto 0 5%;
		min-height:750px;
		padding-top:10px;
		position:relative;
	}
	.main{
		width:80%;/*540px;*/
		margin-left:300px;
	}
	.snap-drawers{
		position:relative;
		top:10px;		
	}
	.snap-drawer{
		width:300px;
		min-height:700px;
	}
	.openChat{
		display:none;
	}
	.chatBox{
		bottom:0;
	}
	.mobileMenu{
		display:none;
	}
}
@media screen and (min-width:801px) and (max-width:1024px){
	section{
		width:100%;
		margin:0 auto;
		min-height:750px;
		position:relative;
	}
	.main{
		width:500px !important;
		margin-left:250px;
	}
	.snap-drawers{
		position:relative;
		top:10px;		
	}
	.snap-drawer{
		width:250px;
		min-height:700px;
	}
	.openChat{
		display:block;
	}
	.chatBox{
		position:fixed;
		bottom:-276px;;
	}
	.boxDown{
		bottom:0px;
	}	
	.mobileMenu{
		display:none;
	}
}


@media screen and (max-width:800px){
	.snap-content{
		width:100%;
		-webkit-box-shadow:-5px 2px 7px 0px rgba(50, 50, 50, 0.5);
		-moz-box-shadow:-5px 2px 7px 0px rgba(50, 50, 50, 0.5);
		box-shadow:-5px 2px 7px 0px rgba(50, 50, 50, 0.5);
		/*
			-webkit-box-shadow: 1px 0px 14px 0px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:    1px 0px 14px 0px rgba(50, 50, 50, 0.5);
			box-shadow: 1px 0px 14px 0px rgba(50, 50, 50, 0.5);
		*/
	}
	
	.snap-drawers{
		top:78px !important;
	}
	.snap-drawer-left, .snap-drawer-right{
		top:0;
	}
	.snap-drawer-right{
		display:none;
	}
	.snap-drawer{
		width:250px;
	}	 
	section .container{
		margin-left:250px;
		position:absolute;
	}
	.chatBox{
		position:fixed;
	}
	.openChat{
		display:block;
	}
	.notification-list{
		display:none;
	}
	.notification-btn{
			display:block;
	}	
}
@media screen and (max-width:768px){
	section .container{
		width:520px;
		margin-left:250px;
		position:absolute;
		top:78px;
	}
	.chatBox{
		right:0;
		z-index:3;
	}
	.busBookingDate{
		display:-webkit-box;
	}
	.busBookingDate .glyphicon{
		top:8px;
	}
	.topUpDate{
		display:-webkit-box;
	}
	.topUpDate .glyphicon{
		top:8px;
	}
	#reversalStatusTab, #reversalRequestTab, #myTab{
		display:table;
	}

}
@media screen and (max-width:600px){
	.mobileHide{
		display:none !important;
	}
	.snap-drawer{
		width:250px;
	}
	.snap-content{
			-webkit-box-shadow: 1px 0px 14px 0px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:    1px 0px 14px 0px rgba(50, 50, 50, 0.5);
			box-shadow: 1px 0px 14px 0px rgba(50, 50, 50, 0.5);
	}
	.snap-drawer-right{
		display:block;
	}
	.snap-drawers{
		top:78px !important;
	}
	section .container{
		margin-left:0px;
		position:absolute;
		width:100%;
	}
	div.nav.navbar-nav.navbar-right{
		display:none;
	}
	header{
		height:78px;
	}
	header .pull-left,.setting-group{
		display:none;
	}
	.notification-list-top{  
		width:260px !important;
	}
	.logo{
		position:absolute;
		top:0;
		left:0;
		padding:15px 10px;
	}
	.logo img{
		margin-top:5px;
	}
	.navbar-right{
		top:0;
		right:5px;
		margin:0 20px;
		float:right;				
		display:inline-block !important;
	}
	.notification-btn{
		position:absolute;
		top:40px;
		z-index:3;
	}
	.notification-list-top{
		left:auto;
		right:0;
		position:absolute !important;
	}
	.navbar-right .media-heading{
			display:none;
	}
	.navbar-right .media-list p{
			font-size:20px;
			color:#fff;
			text-align:right;
	}
	
	.StatusSearch,.RequestSearch{
		display:-webkit-inline-box;
		/*width:250px;*/
		margin:0 auto;
		padding:0;
	}
	.StatusSearch .glyphicon,.RequestSearch .glyphicon{
		top:10px;
	}
	.StatusSearch input[type="text"], .RequestSearch input[type="text"]{
		width:200px;
		margin-left:2px;
	}
	.enterTopic{
		height:35px;
	}
	.clearfix{
		clear:both;
	}	
	header .media-body p{
		width:98px;
	}
}

@-moz-document url-prefix() {
 	.media-body p{
		width:160px;
	}
}
#notification_right_side{
    max-height: 260px;
  
    overflow-y: scroll;
}
#notifications_count{
    vertical-align: top;
    background-color: #FF0000;
}
.user-img{
    height: 50px;
}

/*Inline CSS */
  .mobileList p{
	 /*width: 50px; */
  }
  .mobileList{
	  width: 110px; 
	  height: 115px; 
	  float: left;
	  padding: 10px 10px 0 10px;
  }
  .glyphicon {
		border: 1px solid #40BDAB;
		color: #FFFFFF;
		padding: 6px;
		top: -7px;
	}
	.glyphicon {
		display: inline-block;
		font-family: 'Glyphicons Halflings';
		font-style: normal;
		font-weight: 400;
		line-height: 1;
		position: relative;
		top: 1px;
	}
/*-------------------------------------------------------------
											footer
--------------------------------------------------------------*/
.footer{
	background:#e73c3c;
	height:60px;
	margin:0;
	padding:0;
	text-align:center;
}

.footer_txt{
	color:#FFFFFF;
	padding-top:15px;
	margin:0;
}
.footer_left{
	padding-left:30px;
	float:left;
}
.footer_right{
	padding-right:50px;
	float:right;
	margin:0;
}
.footer a{
 text-decoration: none;
 color:#FFFFFF;
}
 .footer a:hover{
 text-decoration: none;
 color:#40BDAB;
 }

.link{
	cursor:pointer;
}

.StatusSearch .form-control, .RequestSearch .form-control{
cursor: pointer;
}
#myTab .active input{
	background-color: #e73c3c;
	padding:0;
	margin:0;
	color:#fff;
	font-size:12pt;
	border:0 0 0 0;
	border-style:none;

}
.privacy_txt{
font-weight:bold;
}
.terms_txt{
font-weight:bold;
}

.disc_li {
list-style-type:disc;
}
.hidecheckplans{cursor: pointer;}

.checkplans:before{
  content: '';
  position: absolute;
  top: -13px;
  width: 0; 
  height: 0; 
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-bottom: 17px solid #513E96;
  z-index: 99;
  left: 69%;
  margin-left: -15px;
}
.checkplans{
margin-top: 3px;
border:2px solid #513E96;
/*padding: 0px 15px 15px 15px;*/
/*width: 700px;*/
display: none;
border-radius: 3px;
z-index: 99;
background-color: #fff;
position: absolute;
/*overflow: hidden;*/
max-width: 659px;
}


.checkplans ul{
  background: #513E96;
  /*background: red;*/
  color: #fff;
  width: 656px;
  padding-right: 0px;
  height: auto;

  white-space: nowrap;
  overflow:hidden!important;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}


.nav-tabs > li.active > a,
.nav-tabs > li > a:hover
{border-left:  1px solid transparent!important; border-right: 1px solid #fff!important;
 border-radius: 0px;
z-index: 99;
}

.nav-tabs > li > a{
border-radius: 0px; color: #fff; margin-right: 0px!important;
border-right: 1px solid #fff!important;
}
.nav-tabs > li:last-child > a{border-right: 0px solid transparent!important;}

.nav-tabs > li > a:hover{color: #333;}


.checkplans ul li:last-child{}
.checkplans ul li a{font-size: 14px;}
.checkplans table{ color: #333;}
.checkplans table thead tr{border-bottom: 1px solid #666;}
.checkplans table tbody tr{border-bottom: 1px solid #ccc;}

.checkplans table thead tr th,
.checkplans table tbody tr td{
  padding: 5px 10px 5px 10px; font-size: 12px;
}

[placeholder="Check Plans"]{
	text-align: right;
  cursor: pointer;
}
 div.scroll {
   // background-color: #00FFFF;
    width: 650px;
    height: 300px;
    overflow-y: scroll;
}

.mobileList1{
	  width: 140px; 
	  height: 80px; 
	  float: left;
	  padding: 10px 10px 0 10px;
  }
  
  i.arrow-black
  {
      background-url: url('http://shops.pay1.loc/images/leftMenu/ic_rtarrow.png');
  }
  .type{
background-color: white;
    border: none;
    color: #252525;
    font-size: 15px;
    margin-top: -8px;
  }
  
   .type:hover{
      
background-color: #252525;
    border: none;
    color: white;
    font-size: 15px;
    margin-top: -8px;
  }