<script>
    var deviceUuid = "";
$(function() {
    
    var htmlStr = "";
    $.each(PayOne.config.operators.mobRecharge , function(i ,v){
        htmlStr = htmlStr + "<a id=\""+v.id+"\" class=\"mobileList\" href=\"#\"  style=\"width: 81px; height: 81px; border-top-width: 0px; border-left-width: 0px; padding: 22px;\"><img src=\"<?php echo Configure::read('AWS_URL'); ?>"+v.logoUrl+"\"><p>"+v.name+"</p></a>";
    });
    $("#mobile").html(htmlStr);    
    $('#transDate').datepicker({
		format: 'dd-mm-yyyy'
	});
    $("#transDate").datepicker("setDate", new Date());
    function failChk(code,desc){ 
        if(code == '403'){
            $('#login').modal('show');
            return; 
        }else if(code == '35'){
            return; 
        }else if(code == '404'){
            alert('Invalid Access');
            return; 
        }else if(code == '30' || code == '2' || code == '28' || code == '4' || code == '5' || code == '6' || code == '7' || code == '32' || code == '8' || code == '9' || code == '29' || code == '33' || code == '14' || code == '31'){
            alert(desc);
            return; 
        }else{
            alert(desc);
            return;
        }
    }
   
    $('#myTab a').click(function (e) {
          e.preventDefault();          
          $(this).tab('show');
          var status = PayOne.auth.getLoginStatus();
            if(!status){
                //$('#login').modal('show');
                var dt = $("#transDate").val();
                if(dt.trim() == ""){
                    alert("Please select a date.");return;
                }
                renderTransStatus("mob",1,dt);
            }else{
               // renderTransStatus();
            }
          
    });
    
function renderTransStatus(pre,service,dt){ 
	$.ajax({
		url: PayOne.config.urls.api,
		type: "POST",
		data: {method:'reversalTransactions',service:service,date:dt},
		dataType: 'jsonp',
		jsonp: 'root',
		timeout: 50000,
		success: function(data, status){ 
			//$('#'+pre+'-rev-tab-'+pre+'-l').html('');
            $('#'+pre+'-rev-tab-'+pre+'-l').html('');
            $("#transStatusTableBody").html('');
			$.each(data, function(i,item){
				//alert(item.status+'='+item.description+'='+item.today+'='+item.prev+'='+item.next);
				var tObj=document.getElementById("transStatusTable");
				var tmp = '';
				if(item.status == 'failure'){
                    failChk(item.code,item.description);
                }else{
                    alert("Success");
					if(item.status == 'success'){
                        
                            $("#transStatusTableBody").html('');
						    $.each(item.description, function(j,item1){
							 $.each(item.description[j], function(k,item2){	
								 var rc=tObj.rows.length;
								    tObj.insertRow(rc);
									if(rc%2 != 0){
                                        tObj.rows[rc].className="";
									}else{
                                        tObj.rows[rc].className="alt"
                                    };
									
									tmp = 1;
									var col1 = '';var col2 = '';var col3 = '';var col4 = '';var col5 = '';var col6 = '';
									
									var dateEle = item.description[j][k]['0']['timestamp'].split(" ");
									var day  = dateEle[0].split("-");
									var time = dateEle[1].split(":");
									
									if(service == '3'){
										opr = item.description[j][k]['products']['name'];
									}else{ //PayOne.config.pcla
										opr = '<img src="<?php echo Configure::read('AWS_URL'); ?>/images/icons/'+eval( "PayOne.config.pcla.L"+item.description[j][k]['vendors_activations']['product_id'] )+'">';
									}
									
									var num = '';
									if(service == '2'){
										num = item.description[j][k]['vendors_activations']['param'];
									}else{
										num = item.description[j][k]['vendors_activations']['mobile'];
									}
									
									
									col1 = opr+' - ' + item.description[j][k]['products']['name'];
									col2 = num;
									col3 = item.description[j][k]['vendors_activations']['amount'];
									col4 = time[0]+':'+time[1];
									
									var status = '';
									if(item.description[j][k]['vendors_activations']['status'] == '3'){
										status = rsI;
									}else if(item.description[j][k]['vendors_activations']['status'] == '4'){
										status = rpI;
									}else if(item.description[j][k]['vendors_activations']['status'] == '5'){
										status = rdI;
									}
									
									col5 = status;
									col6 = item.description[j][k]['vendors_activations']['ref_code'];
																		
									var c1 = tObj.rows[rc].insertCell(0);
									var c2 = tObj.rows[rc].insertCell(1);
									var c3 = tObj.rows[rc].insertCell(2);
									var c4 = tObj.rows[rc].insertCell(3);
									var c5 = tObj.rows[rc].insertCell(4);
									var c6 = tObj.rows[rc].insertCell(5);
									c1.innerHTML= col6;
									c2.innerHTML= col1;
									c3.innerHTML= col2;
									c4.innerHTML= col3;
									c5.innerHTML= col4;
									c6.innerHTML= col5;	
									c4.style.textAlign = "right";
							 });
						 });
					}	
				}
				
				if(tmp == ''){
                    var rc=tObj.rows.length; 
				    tObj.insertRow(rc);
				    var column1=tObj.rows[rc].insertCell(0);
				    column1.innerHTML= 'No Records Found';
				    tObj.rows[1].cells[0].colSpan = '6';				
				}
			});
		},
		error: function(){}
	});	
}
    function renderTransStatus1(){
        
      /*
        var htmlStr = "<table class=\"table table-striped table-hover\"><thead>
                                        <tr>
                                          <th>#</th>
                                          <th>Mobile No</th>
                                          <th>Amount</th>
                                          <th>Time</th>
                                          <th>Status</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>"++"</td>
                                          <td>"++"</td>
                                          <td>"++"</td>
                                          <td>"++" </td>
                                          <td>"++" </td>
                                        </tr>
                                        <tr>
                                          <td>1</td>
                                          <td>9811111111</td>
                                          <td>50</td>
                                          <td> </td>
                                          <td> </td>
                                        </tr>
                                        
                                      </tbody>
                                    </table>
                  ";*/
    } 
    
});
</script>


<div class="breadcrumb">Mobile</div>
                        <ul id="myTab" class="nav nav-tabs">
                          <li class="active"><a href="#mobile" data-toggle="tab">Mobile</a></li>
                          <li class=""><a href="#status" data-toggle="tab">Complaint Status</a></li>
                          <li class=""><a href="#details" data-toggle="tab">Request Complaint</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                          <div class="tab-pane fade active in" id="mobile">
								
                                <a class="mobileList" href="#">
                                			<img src="<?php echo Configure::read('AWS_URL'); ?>/images/pages/square.png">
                                            <p>Mobile1</p>
                                </a>
                                
                          </div>
                          <div class="tab-pane fade" id="status">
                                <div class="form-inline StatusSearch">
                                    <input id="transDate" type="text" class="form-control" value="16-2-2014" data-date-format="dd-mm-yyyy" ><span class="glyphicon glyphicon-search"></span>
                                </div>
                          		<div class="table-responsive">
                            	<table class="table table-striped table-hover" id="transStatusTable">
                                      <thead>
                                        <tr>
                                          <th>#</th>
                                          <th>Mobile No</th>
                                          <th>Amount</th>
                                          <th>Time</th>
                                          <th>Status</th>
                                        </tr>
                                      </thead>
                                      <tbody id="transStatusTableBody">
                                        <tr>
                                          <td>1</td>
                                          <td>9811111111</td>
                                          <td>50</td>
                                          <td> </td>
                                          <td> </td>
                                        </tr>
                                        <tr>
                                          <td>1</td>
                                          <td>9811111111</td>
                                          <td>50</td>
                                          <td> </td>
                                          <td> </td>
                                        </tr>
                                        <tr>
                                          <td>1</td>
                                          <td>9811111111</td>
                                          <td>50</td>
                                          <td> </td>
                                          <td> </td>
                                        </tr>
                                        <tr>
                                          <td>1</td>
                                          <td>9811111111</td>
                                          <td>50</td>
                                          <td> </td>
                                          <td> </td>
                                        </tr> 
                                      </tbody>
                                    </table>
                                    </div>
                          </div>
                          <div class="tab-pane fade" id="details">
                          <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                      <thead>
                                        <tr>
                                          <th>#</th>
                                          <th>Mobile No</th>
                                          <th>Amount</th>
                                          <th>Time</th>
                                          <th>Status</th>
                                        </tr>
                                      </thead>
                                      <tbody >
                                        <tr>
                                          <td>1</td>
                                          <td>9811111111</td>
                                          <td>50</td>
                                          <td> </td>
                                          <td> </td>
                                        </tr>
                                        <tr>
                                          <td>1</td>
                                          <td>9811111111</td>
                                          <td>50</td>
                                          <td> </td>
                                          <td> </td>
                                        </tr>
                                        <tr>
                                          <td>1</td>
                                          <td>9811111111</td>
                                          <td>50</td>
                                          <td> </td>
                                          <td> </td>
                                        </tr>
                                        <tr>
                                          <td>1</td>
                                          <td>9811111111</td>
                                          <td>50</td>
                                          <td> </td>
                                          <td> </td>
                                        </tr> 
                                      </tbody>
                                    </table>
                                    </div>
                          </div>
                        </div>
                
                    
                    
                    