<script>
    var deviceUuid = "";
    $(function() {
    
    
        //alert("hello");
        var htmlStr = "";
        $.each(PayOne.config.operators.mobRecharge , function(i ,v){
            //htmlStr = htmlStr + "<a id=\""+v.id+"\" class=\"mobileList\" href=\"#\"  style=\"width: 81px; height: 81px; border-top-width: 0px; border-left-width: 0px; padding: 22px;\"><img src=\""+v.logoUrl+"\"><p style=\"width: 81px;\">"+v.name+"</p></a>";
            htmlStr = htmlStr + "<a class=\"mobileList\" href=\"/recharges/mobile/"+v.name+"/"+v.id+"\""+"><img src=\"<?php echo Configure::read('AWS_URL'); ?>"+v.logoUrl+"\"><p>"+v.name+"</p></a>"
        });
        $("#mobile").html(htmlStr);
    
    
        //alert(dateStr );
        $('#transDate1').datepicker({
            "format": "dd-mm-yyyy"
        
        });
        $('#transDate2').datepicker({
            "format": "dd-mm-yyyy"
        
        });
    
        Date.daysBetween = function( date1, date2 ) {
            //Get 1 day in milliseconds
            var one_day=1000*60*60*24;

            // Convert both dates to milliseconds
            var date1_ms = date1.getTime();
            var date2_ms = date2.getTime();

            // Calculate the difference in milliseconds
            var difference_ms = date2_ms - date1_ms;

            // Convert back to days and return
            return Math.round(difference_ms/one_day); 
        }
    
        $('#searchReversal').click(function (e) {
        
            var date_from = $('#transDate1').val();
            //var date_to   = $('#transDate2').val();
            if(date_from == '' ){
                alert("Please select proper date.");
            } else {
                //$('#date_err').hide();
                var date_from_arr = date_from.split("-");
                var dt = date_from_arr[2]+"-"+date_from_arr[1]+"-"+date_from_arr[0];  
                renderTransStatus("mob",1,dt);
                            
            }
        
        });
    
        /*$('#searchReversal').click(function (e) {
        
                    var date_from = $('#transDate1').val();
                    var date_to = $('#transDate2').val();
                    if(date_from == '' || date_to == ''){
                            alert("Please select all dates.");
                    } else {
                            //$('#date_err').hide();
                            var date_from_arr = date_from.split("-");
                            var date_to_arr = date_to.split("-");
                                                       
                            if(new Date(date_from_arr[2], date_from_arr[1], date_from_arr[0], 0, 0, 0, 0) > new Date(date_to_arr[2], date_to_arr[1], date_to_arr[0], 0, 0, 0, 0)){
                                alert("From Date can not be greater than To Date ! ");
                                return false;
                            }
                            
                            var dateDiff = Date.daysBetween(new Date(date_from_arr[2], date_from_arr[1], date_from_arr[0], 0, 0, 0, 0),new Date(date_to_arr[2], date_to_arr[1], date_to_arr[0], 0, 0, 0, 0));
                                                        
                            if(dateDiff > 7){
                                alert("You can not get more than 7 days data !!! ");
                                return false;
                            }
                            
                            date_from = date_from.replace(/-/g,"");
                            date_to = date_to.replace(/-/g,"");
                            //$('sub').setAttribute('href', "/partner/rechargeList/"+date_from+"-"+date_to);            
                            //$url = "/" +controller+ "/" +action+ "/" ;
                            var dt = date_from+"_"+date_to;
                            alert(dt);
                            renderTransStatus("mob",1,dt);

                    }
        
    });*/
    
    
        //$("#transDate").datepicker('update');
    
        //$("#transDate").datepicker("setDate", new Date());
    
        /*$("#transDate").datepicker({
    });*/
    
        //---------
        $('#myTab a').click(function (e) {
            e.preventDefault();          
            $(this).tab('show');
            var status = PayOne.auth.getLoginStatus();
            if(!status){
                //$('#login').modal('show');
                var dt = $("#transDate1").val();
                if(dt.trim() == ""){
                    alert("Please select a date.");return;
                }
               
            }else{
                renderTransStatus("mob",1,dt);
            }
          
        });
   
        function renderTransStatus(pre,service,dt){ 
            //delTabRows(pre+'-rev-tab-'+pre);$('#'+pre+'-rev-tab-'+pre+'-l').html(loader);
            $.ajax({
                url: PayOne.config.urls.api,
                type: "POST",
                data: {method:'reversalTransactions',service:service,date:dt},
                dataType: 'jsonp',
                jsonp: 'root',
                timeout: 50000,
                success: function(data, status){ 
                    //$('#'+pre+'-rev-tab-'+pre+'-l').html('');
                    $('#'+pre+'-rev-tab-'+pre+'-l').html('');
                    $("#transStatusTableBody").html('');
                    $.each(data, function(i,item){
                        //alert(item.status+'='+item.description+'='+item.today+'='+item.prev+'='+item.next);
                        //var tObj=document.getElementById("transStatusTable");
                        var tmp = '';
                        if(item.status == 'failure'){
                            PayOne.core.failChk(item.code,item.description);
                        }else{
                            alert("Success");
                            if(item.status == 'success'){
                        
                                $("#transStatusTableBody").html('');
                                //$("#rt"+pre+"Curr").html(''+item.today+'');
                                //$("#rt"+pre+"Prev").attr('onclick', "rTranFn('"+pre+"',"+service+",'"+item.prev+"');");
                                /*if(item.next == '' || item.next == item.today)
                             $("#rt"+pre+"Nxt").attr('onclick', "alert("+c+");");
                         else
                             $("#rt"+pre+"Nxt").attr('onclick', "rTranFn('"+pre+"',"+service+",'"+item.next+"');");
                                 */
                                rc = 0;
                                var htmlStr 
                                $.each(item.description, function(j,item1){
                                    $.each(item.description[0], function(k,item2){	
                                        //alert(item.description[j][k]['products']['name']);
								 
                                        // var rc=tObj.rows.length;
                                        //    tObj.insertRow(rc);
                                        rc++;
                                        htmlStr = "<tr";
                                        if(rc%2 != 0){                                        
                                            htmlStr = htmlStr+">";
                                        }else{
                                            htmlStr = htmlStr+" class='alt'>";
                                        };
									
                                        tmp = 1;
                                        var col1 = '';var col2 = '';var col3 = '';var col4 = '';var col5 = '';var col6 = '';
									
                                        var dateEle = item.description[j][k]['0']['timestamp'].split(" ");
                                        var day  = dateEle[0].split("-");
                                        var time = dateEle[1].split(":");
                                        var opr;
                                        if(service == '3'){
                                            opr = item.description[j][k]['products']['name'];
                                        }else{ //PayOne.config.pcla
                                            opr = '<img src="<?php echo Configure::read('AWS_URL'); ?>/images/icons/'+eval( "PayOne.config.pcla.L"+item.description[j][k]['vendors_activations']['product_id'] )+'">';
                                        }
									
                                        var num = '';
                                        if(service == '2'){
                                            num = item.description[j][k]['vendors_activations']['param'];
                                        }else{
                                            num = item.description[j][k]['vendors_activations']['mobile'];
                                        }
									
									
                                        col1 = opr+' - ' + item.description[j][k]['products']['name'];
                                        col2 = num;
                                        col3 = item.description[j][k]['vendors_activations']['amount'];
                                        col4 = time[0]+':'+time[1];
									
                                        var status = '';
                                        if(item.description[j][k]['vendors_activations']['status'] == '3'){
                                            status = PayOne.config.vars.rsI;
                                        }else if(item.description[j][k]['vendors_activations']['status'] == '4'){
                                            status = PayOne.config.vars.rpI;
                                        }else if(item.description[j][k]['vendors_activations']['status'] == '5'){
                                            status = PayOne.config.vars.rdI;
                                        }
									
                                        col5 = status;
                                        col6 = item.description[j][k]['vendors_activations']['ref_code'];
																		
                                        //var c1 = tObj.rows[rc].insertCell(0);                                    
                                        //var c2 = tObj.rows[rc].insertCell(1);
                                        //var c3 = tObj.rows[rc].insertCell(2);
                                        //var c4 = tObj.rows[rc].insertCell(3);
                                        //var c5 = tObj.rows[rc].insertCell(4);
                                        //var c6 = tObj.rows[rc].insertCell(5);
                                    
                                        //c1.innerHTML= col6;
                                        htmlStr = htmlStr+" <td>"+col6+"</td>";
                                        //c2.innerHTML= col1;
                                        htmlStr = htmlStr+" <td>"+col1+"</td>";
                                        //c3.innerHTML= col2;
                                        htmlStr = htmlStr+" <td>"+col2+"</td>";
                                        //c4.innerHTML= col3;
                                        htmlStr = htmlStr+" <td align='right'>"+col3+"</td>";
                                        //c5.innerHTML= col4;
                                        htmlStr = htmlStr+" <td>"+col4+"</td>";
                                        //c6.innerHTML= col5;	
                                        htmlStr = htmlStr+" <td>"+col5+"</td>";
                                        //c4.style.textAlign = "right";
                                        htmlStr = "</tr>";
                                    });
                                });
                            }	
                        }
				
                        if(tmp == ''){
                            htmlStr = htmlStr+"<tr> <td colSpan='6'>"+'No Records Found'+"</td> </tr>";
                        }
                        $("#transStatusTableBody").html(htmlStr);
                    });
                },
                error: function(){}
            });	
        }
        function renderTransStatus1(){
        
            /*
        var htmlStr = "<table class=\"table table-striped table-hover\"><thead>
                                        <tr>
                                          <th>#</th>
                                          <th>Mobile No</th>
                                          <th>Amount</th>
                                          <th>Time</th>
                                          <th>Status</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>"++"</td>
                                          <td>"++"</td>
                                          <td>"++"</td>
                                          <td>"++" </td>
                                          <td>"++" </td>
                                        </tr>
                                        <tr>
                                          <td>1</td>
                                          <td>9811111111</td>
                                          <td>50</td>
                                          <td> </td>
                                          <td> </td>
                                        </tr>
                                        
                                      </tbody>
                                    </table>
                  ";*/
                                                  } 
    
                                              });
</script>


<!--<div id="content" class="container main snap-content">              -->
<div class="breadcrumb">Mobile</div>                        
<ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#mobile" data-toggle="tab">Mobile</a></li>
    <li class=""><a href="#status" data-toggle="tab">Complaint Status</a></li>
    <li class=""><a href="#details" data-toggle="tab">Request Complaint</a></li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="mobile">

        <a class="mobileList" href="#">
            <img src="<?php echo Configure::read('AWS_URL'); ?>/images/pages/square.png">
            <p>Mobile1</p>
        </a>

    </div>
    <div class="tab-pane fade" id="status">

        <div class="form-inline StatusSearch">
            <span >Date</span><input style="margin-left:10px;width:150px;" id="transDate1" type="text" class="form-control" value="<?php echo date("d-m-Y"); ?>" data-date-format="dd-mm-yyyy" readonly>
<!--                                    <span >To</span><input   style="margin-left:10px;width:150px;" id="transDate2" type="text" class="form-control" value="<?php echo date("d-m-Y"); ?>" data-date-format="dd-mm-yyyy" readonly>-->
            <span id="searchReversal" class="glyphicon glyphicon-search" style="margin-left:10px;cursor:pointer"></span>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover" id="transStatusTable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Mobile No</th>
                        <th>Amount</th>
                        <th>Time</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="transStatusTableBody">
                    <tr>
                        <td>1</td>
                        <td>9811111111</td>
                        <td>50</td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>9811111111</td>
                        <td>50</td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>9811111111</td>
                        <td>50</td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>9811111111</td>
                        <td>50</td>
                        <td> </td>
                        <td> </td>
                    </tr> 
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="details">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Mobile No</th>
                        <th>Amount</th>
                        <th>Time</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody >
                    <tr>
                        <td>1</td>
                        <td>9811111111</td>
                        <td>50</td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>9811111111</td>
                        <td>50</td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>9811111111</td>
                        <td>50</td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>9811111111</td>
                        <td>50</td>
                        <td> </td>
                        <td> </td>
                    </tr> 
                </tbody>
            </table>
        </div>
    </div>
</div>



