
<iframe  height="700" width="950" id="myFrame" name="myFrame"></iframe>
<script type="text/javascript">
$(document).ready(function(){
var pathname  = location.pathname;

var iframe = window.frames["myFrame"].document;
iframe.open();
iframe.write(localStorage.getItem("formdata"));
iframe.close();


});
</script>

