
<div style="width:100%; height:820px" id="pg_payu" name="pg_payu"></div>
<script type="text/javascript">
$(document).ready(function(){

	$('#pg_payu').html(localStorage.getItem("formdata"));
});
</script>
