<script>

$(function() {
    var htmlStr = "";
    $.each(PayOne.config.operators.utilityBillPayment , function(i ,v){
       htmlStr = htmlStr + "<a class=\"mobileList1\" href=\"/recharges/utility_billpayment/"+v.name+"/"+v.id+"\""+"><img src=\"<?php echo Configure::read('AWS_URL'); ?>"+v.logoUrl+"\"><p >"+v.name+"</p></a>"
    });
    $("#mobile").html(htmlStr);
    
    
    transStatusTable = $('#transStatusTable').DataTable({"aaSorting": []});
    lastTenTransTable = $('#lastTenTransTable').DataTable({"aaSorting": []});
    
    
    $('#transDate1').datepicker({
		"format": "dd-mm-yyyy"        
	});
    $('#transDate1').datepicker().on('changeDate', function (ev) {
        PayOne.reports.renderTransStatus('mob',6,$(this).val(),true,'#transStatusTableBody',transStatusTable);
        $(this).datepicker('hide');
    });
    /*$('#transDate2').datepicker({
		"format": "dd-mm-yyyy"
        
	});*/
    
    Date.daysBetween = function( date1, date2 ) {
      //Get 1 day in milliseconds
      var one_day=1000*60*60*24;

      // Convert both dates to milliseconds
      var date1_ms = date1.getTime();
      var date2_ms = date2.getTime();

      // Calculate the difference in milliseconds
      var difference_ms = date2_ms - date1_ms;

      // Convert back to days and return
      return Math.round(difference_ms/one_day); 
    }
    
    $('#searchReversal').click(function (e) {
        
                    var date_from = $('#transDate1').val();
                    //var date_to   = $('#transDate2').val();
                    if(date_from == '' ){
                            alert("Please select proper date.");
                    } else {
                            //$('#date_err').hide();
                            var date_from_arr = date_from.split("-");
                            var dt = date_from_arr[2]+"-"+date_from_arr[1]+"-"+date_from_arr[0];  
                            PayOne.reports.renderTransStatus("mob",6,dt,true,"#transStatusTableBody",transStatusTable);
                            
                    }
        
    });
    
    
    
    $('#myTab a').on("click",function (e) {        
        var hash  = $(this).attr('href');        
        if(hash=="#details"){
            PayOne.reports.lastTran(6,"#lastTenTransTableBody",lastTenTransTable);// 6 for utility bill pay
        }else if(hash=="#status"){
            //var dt =  date.getFullYear() +"-"+( date.getMonth() <= 9 ?  ("0"+(date.getMonth()+1)) : (date.getMonth()+1) ) +"-"+(date.getDate() <= 9 ?  ("0"+date.getDate()) : date.getDate());  // Returns the yeardate_from_arr[2]+"-"+date_from_arr[1]+"-"+date_from_arr[0];  
            var dt = $('#transDate1').val().split("-").reverse().join("-");
            //var date = new Date();
            //var dt =  date.getFullYear() +"-"+( date.getMonth() <= 9 ?  ("0"+(date.getMonth()+1)) : (date.getMonth()+1) ) +"-"+(date.getDate() <= 9 ?  ("0"+date.getDate()) : date.getDate());  // Returns the yeardate_from_arr[2]+"-"+date_from_arr[1]+"-"+date_from_arr[0];  
            var callLogin = true;
            PayOne.reports.renderTransStatus("mob",6,dt,callLogin,"#transStatusTableBody",transStatusTable);
        }   
    });
    $('#searchByNo').on("click",function (e) {         
        var no = $("#searchNo").val();  
        if(no == ""){
            alert("Please enter a valid Account no.");return;
        }
        PayOne.reports.lastTranSearchByNo(6,no,"#lastTenTransTableBody",lastTenTransTable);// 6 for utility bill pay                    
    });
        
    
    
});
</script>
            			<div class="breadcrumb">Utility Bill Payment</div>                        
                        <ul id="myTab" class="nav nav-tabs">
                          <li class="active"><a href="#mobile" data-toggle="tab">Mobile</a></li>
                          <li class=""><a href="#status" data-toggle="tab">Complaint Status</a></li>
                          <li class=""><a href="#details" data-toggle="tab">Request Complaint</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                          <div class="tab-pane fade active in" id="mobile">
								
                                <a class="mobileList" href="#">
                                			<img src="<?php echo Configure::read('AWS_URL'); ?>/images/pages/square.png">
                                            <p>Postpaid</p>
                                </a>
                                
                          </div>
                          <div class="tab-pane fade" id="status">
                            
                                <!--<div class="form-inline StatusSearch">
                                    <span >Date</span><input style="margin-left:10px;width:150px;" id="transDate1" type="text" class="form-control" value="<?php echo date("d-m-Y");?>" data-date-format="dd-mm-yyyy" readonly>
                                    <input id="searchReversal" data-loading-text="Processing..." type="submit" class="default-btn searchProcess" value="search"/>	
                                </div>-->
                                <ul id="myTab" class="nav nav-tabs">
                                  <li class=""><a href="#earningPrevious" class="reportNavigation reportNavigationPrev earningPrevious" onclick="PayOne.reports.renderTransStatus('mob',1,dt,true,'#transStatusTableBody',transStatusTable);"><span></span></a></li>
                                  <li class="active"><a href="#earningDate1" data-toggle="tab"><input style="margin-left:10px;width:150px;" id="transDate1" type="text" class="form-control" value="<?php echo date("d-m-Y");?>" data-date-format="dd-mm-yyyy" readonly /></a></li>
                                  <li class=""><a href="#earningNext" class="reportNavigation reportNavigationNext earningNext"><span></span></a></li>
                                </ul>
                              <!--                                    <span >To</span><input   style="margin-left:10px;width:150px;" id="transDate2" type="text" class="form-control" value="<?php echo date("d-m-Y");?>" data-date-format="dd-mm-yyyy" readonly>-->
<!--                                    <span id="searchReversal" class="glyphicon glyphicon-search" style="margin-left:10px;cursor:pointer"></span>-->
                                   <!-- <button id="searchReversal" data-loading-text="Processing..." type="submit" class="default-btn searchProcess">Search</button>-->
                          		<div class="table-responsive">
                            	
                                <table class="table table-striped table-hover order-column" id="transStatusTable" cellspacing="0" width="100%">
                                      <thead>
                                        <tr>
                                          <th style="background: none repeat scroll 0 0 #e73c3c">#</th>
                                          <th style="background: none repeat scroll 0 0 #e73c3c"></th>
                                          <th style="background: none repeat scroll 0 0 #e73c3c">Mobile No</th>
                                          <th style="background: none repeat scroll 0 0 #e73c3c">Amount</th>
                                          <th style="background: none repeat scroll 0 0 #e73c3c">Time</th>
                                          <th style="background: none repeat scroll 0 0 #e73c3c">Status</th>
                                        </tr>
                                      </thead>
                                      <tbody id="transStatusTableBody">
                                        
                                      </tbody>
                                    </table>
                                    </div>
                          </div>
                          <div class="tab-pane fade" id="details">
                          <div class="table-responsive">
                            <div class="form-inline RequestSearch">
                                <input id="searchNo" type="text" class="form-control" placeholder="Enter Account No"/>
<!--                                <input id="searchByNo" type="submit" class="default-btn" value="search"/>   -->
                               <!-- <button id="searchByNo" data-loading-text="Processing..." type="submit" class="default-btn searchProcess">Search</button>-->
			        <input id="searchByNo" data-loading-text="Processing..." type="submit" class="default-btn searchProcess" value="search"/>	
                            </div>
                            
                            <table class="table table-striped table-hover order-column" id="lastTenTransTable" cellspacing="0" width="100%">
                                      <thead>
                                        <tr>
                                          <th style="background: none repeat scroll 0 0 #e73c3c">#</th>
                                          <th style="background: none repeat scroll 0 0 #e73c3c"></th>
                                          <th style="background: none repeat scroll 0 0 #e73c3c">Mobile No</th>
                                          <th style="background: none repeat scroll 0 0 #e73c3c">Amount</th>
                                          <th style="background: none repeat scroll 0 0 #e73c3c">Time</th>
                                          <th style="background: none repeat scroll 0 0 #e73c3c">Status</th>
                                        </tr>
                                      </thead>
                                      <tbody id="lastTenTransTableBody">                                        
                                        
                                      </tbody>
                                    </table>
                                    </div>
                          </div>
                        </div>
                
                    
                    
                    
