<script>
    var deviceUuid = "";
$(function() {
    
    
    //alert("hello");
    var htmlStr = "";
    /*$.each(PayOne.config.operators.mobRecharge , function(i ,v){
        //htmlStr = htmlStr + "<a id=\""+v.id+"\" class=\"mobileList\" href=\"#\"  style=\"width: 81px; height: 81px; border-top-width: 0px; border-left-width: 0px; padding: 22px;\"><img src=\""+v.logoUrl+"\"><p style=\"width: 81px;\">"+v.name+"</p></a>";
        htmlStr = htmlStr + "<a class=\"mobileList\" href=\"/pages/recharges/mobile/"+v.name+"/"+v.id+"\""+"><img src=\"<?php echo Configure::read('AWS_URL'); ?>"+v.logoUrl+"\"><p>"+v.name+"</p></a>"
    });*/
        
    function getVASProducts(obj,id1){
        //showHide(obj,id1);
        //$('#vasList').html(loader);
        $.ajax({
            url: PayOne.config.urls.api,
            type: "POST",
            data: {method:'getVASProducts'},
            dataType: 'jsonp',
            jsonp: 'root',
            timeout: 50000,
            success: function(data, status){
                $.each(data, function(i,item){
                if(item.status == 'failure'){failChk(item.code,item.description);
                }else{
                    var t = '';				
                        if(item.status == 'success'){						
                            //t += '<ul data-inset="true" data-role="listview" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">';	
                            var htmlStr = "";
                            var htmlDetailsStr = "";
                            $.each(item.description, function(j,item1){
                                var f = '';
                                var price = '';
                                var amt = 0;
                                //p[j] = new Array(4);
                                //p[j][0] = item1['prods']['name'];
                                //p[j][3] = item1['prods']['shortDesc']+"\n"+item1['prods']['longDesc'];
                                if(j==0)
                                    f = 'ui-corner-top';
                                if(item1['prods']['price']){
                                    var price = " - Rs." + item1['prods']['price'];
                                    var amt = item1['prods']['price'];
                                }
                                
                                htmlStr = htmlStr + "<div class=\"enterTopic clearfix\">"+
                                            "<p><a href=\"/recharges/vas/"+item1['prods']['name']+"/"+item1['prods']['product_id']+"\">"+item1['prods']['name']+price+"</a></p>"+
                                            "<a href=\"#details"+item1['prods']['product_id']+"\" data-toggle=\"modal\" data-target=\"#details"+item1['prods']['product_id']+"\" data-backdrop=\"false\">Details</a>"+
                                        "</div>"
                                    
                                htmlDetailsStr = htmlDetailsStr +
                                "<div class=\"modal fade\" id=\"details"+item1['prods']['product_id']+"\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"myModalLabel\" aria-hidden=\"true\">"+
                                  "<div class=\"modal-dialog\">"+
                                    "<div class=\"modal-content\">"+
                                      "<div class=\"modal-header\">"+
                                        "<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\">&times;</button>"+
                                        "<h4 class=\"modal-title\" id=\"myModalLabel\">"+item1['prods']['name']+"</h4>"+
                                      "</div>"+
                                      "<div class=\"modal-body\">"
                                     +item1['prods']['shortDesc']+"<br/><br/>"
                                     +item1['prods']['longDesc'].split("\r\n").join("<br/>") +
                                      
                                      "</div>"+
                                      "<div class=\"modal-footer\">"+
                                        "<button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\">Close</button>"+
                                      "</div>"+
                                    "</div>"+
                                  "</div>"+
                                "</div>";
                                /*var f = '';
                                var price = '';
                                var amt = 0;
                                p[j] = new Array(4);
                                p[j][0] = item1['prods']['name'];
                                p[j][3] = item1['prods']['shortDesc']+"\n"+item1['prods']['longDesc'];
                                if(j==0)
                                    f = 'ui-corner-top';
                                if(item1['prods']['price']){
                                    var price = " - Rs." + item1['prods']['price'];
                                    var amt = item1['prods']['price'];
                                }
                                t += '<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c '+f+'"><div class="ui-btn-inner ui-li ui-corner-top" aria-hidden="true"><div class="ui-btn-text"><a onClick="showVASFrm(\'page1\',\'vasForm\','+j+')" class="ui-link-inherit">'+item1['prods']['name']+price+'</a><a href="javascript:void(0);" style="position:absolute; top:10px;left:200px;" onclick="vasInfo('+j+')"><img src="images/spacer.png" class="icons info"></a></div></div></li>';
                                var l = '<div class="ui-hide-label ui-field-contain ui-body ui-br">';
                                    l += '<span style="font-weight:bold; padding-top:10px">'+item1['prods']['name']+price+'</span>';
                                    l += '</div>';
                                var m = 0;
                                p[j][1] = new Array();
                                $.each(item1['prods']['params']['allParams']['param'], function(k,item2){
                                    l += '<div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">';
                                    l += '<label for="name" class="ui-input-text">'+item1['prods']['params']['allParams']['param'][k]['field']+':</label>';
                                    var t = 'text';
                                    if(item1['prods']['params']['allParams']['param'][k]['field'] == 'Mobile' && item1['prods']['params']['allParams']['param'][k]['field'] == 'PNR')
                                        t = 'number';
                                    l += '<input type="'+t+'" maxlength="'+item1['prods']['params']['allParams']['param'][k]['length']+'" id="'+item1['prods']['params']['allParams']['param'][k]['field']+j+'" value="" class="ui-input-text ui-body-d ui-corner-all ui-shadow-inset" >';
                                    l += '</div>';
                                    p[j][1][m] = item1['prods']['params']['allParams']['param'][k]['field'];
                                    m++;
                                });
                                l += '<div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">';
                                l += '<div id="vas_req_loader'+j+'" class="loaderAlign">';
                                    l += '<div data-role="fieldcontain" class="ui-field-contain ui-body ui-br loaderAlign">';
                                    l += '<label>&nbsp;</label>';
                                    l += '<div data-theme="d" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-up-d" aria-disabled="false">';
                                    l += '<span class="ui-btn-inner ui-btn-corner-all" aria-hidden="true"><span class="ui-btn-text">Submit</span></span>';
                                    l += '<input type="submit" onClick="vasRecharge('+j+','+item1['prods']['product_id']+','+amt+');" value="Submit" class="ui-btn-hidden">';
                                    l += '</div></div></div>';

                                p[j][2] = l;*/
                            });
                           // t += '</ul>';				    
                            $('#entertainment').html(htmlStr);
                           //alert(htmlDetailsStr);
                           $('#detailsModals').html(htmlDetailsStr);
                            
                        }			
                    }
                });
            },
            error: function(){$('#vasList').html('');}
        });
    }
    getVASProducts();
        
//    $("#mobile").html(htmlStr);
//    
//    
//    //alert(dateStr );
//    $('#transDate1').datepicker({
//		"format": "dd-mm-yyyy"
//        
//	});
//    $('#transDate2').datepicker({
//		"format": "dd-mm-yyyy"
//        
//	});
//    
//    $('#searchReversal').click(function (e) {
//        
//                    var date_from = $('#transDate1').val();
//                    //var date_to   = $('#transDate2').val();
//                    if(date_from == '' ){
//                            alert("Please select proper date.");
//                    } else {
//                            //$('#date_err').hide();
//                            var date_from_arr = date_from.split("-");
//                            var dt = date_from_arr[2]+"-"+date_from_arr[1]+"-"+date_from_arr[0];  
//                            renderTransStatus("mob",1,dt);
//                            
//                    }
//        
//    });
//    
//    
//    //---------
//    $('#myTab a').click(function (e) {
//          e.preventDefault();          
//          $(this).tab('show');
//          var status = PayOne.auth.getLoginStatus();
//            if(!status){
//                //$('#login').modal('show');
//                var dt = $("#transDate1").val();
//                if(dt.trim() == ""){
//                    alert("Please select a date.");return;
//                }
//               
//            }else{
//                renderTransStatus("mob",1,dt);
//            }
//          
//    });
//   
//function renderTransStatus(pre,service,dt){ 
//	$.ajax({
//		url: PayOne.config.urls.api,
//		type: "POST",
//		data: {method:'reversalTransactions',service:service,date:dt},
//		dataType: 'jsonp',
//		jsonp: 'root',
//		timeout: 50000,
//		success: function(data, status){ 
//			$('#'+pre+'-rev-tab-'+pre+'-l').html('');
//            $("#transStatusTableBody").html('');
//			$.each(data, function(i,item){
//				var tmp = '';
//				if(item.status == 'failure'){
//                    PayOne.core.failChk(item.code,item.description);
//                }else{
//                    
//					if(item.status == 'success'){
//                        
//                         $("#transStatusTableBody").html('');
//						 //$("#rt"+pre+"Curr").html(''+item.today+'');
//						 //$("#rt"+pre+"Prev").attr('onclick', "rTranFn('"+pre+"',"+service+",'"+item.prev+"');");
//						 /*if(item.next == '' || item.next == item.today)
//							 $("#rt"+pre+"Nxt").attr('onclick', "alert("+c+");");
//						 else
//							 $("#rt"+pre+"Nxt").attr('onclick', "rTranFn('"+pre+"',"+service+",'"+item.next+"');");
//						*/
//                            rc = 0;
//                            var htmlStr 
//						 $.each(item.description, function(j,item1){
//							 $.each(item.description[0], function(k,item2){	
//								 //alert(item.description[j][k]['products']['name']);
//								 
//								// var rc=tObj.rows.length;
//								//    tObj.insertRow(rc);
//                                    rc++;
//                                    htmlStr = "<tr";
//									if(rc%2 != 0){                                        
//                                        htmlStr = htmlStr+">";
//									}else{
//                                        htmlStr = htmlStr+" class='alt'>";
//                                    };
//									
//									tmp = 1;
//									var col1 = '';var col2 = '';var col3 = '';var col4 = '';var col5 = '';var col6 = '';
//									
//									var dateEle = item.description[j][k]['0']['timestamp'].split(" ");
//									var day  = dateEle[0].split("-");
//									var time = dateEle[1].split(":");
//									var opr;
//									if(service == '3'){
//										opr = item.description[j][k]['products']['name'];
//									}else{ //PayOne.config.pcla
//										opr = '<img src="images/icons/'+eval( "PayOne.config.pcla.L"+item.description[j][k]['vendors_activations']['product_id'] )+'">';
//									}
//									
//									var num = '';
//									if(service == '2'){
//										num = item.description[j][k]['vendors_activations']['param'];
//									}else{
//										num = item.description[j][k]['vendors_activations']['mobile'];
//									}
//									
//									
//									col1 = opr+' - ' + item.description[j][k]['products']['name'];
//									col2 = num;
//									col3 = item.description[j][k]['vendors_activations']['amount'];
//									col4 = time[0]+':'+time[1];
//									
//									var status = '';
//									if(item.description[j][k]['vendors_activations']['status'] == '3'){
//										status = PayOne.config.vars.rsI;
//									}else if(item.description[j][k]['vendors_activations']['status'] == '4'){
//										status = PayOne.config.vars.rpI;
//									}else if(item.description[j][k]['vendors_activations']['status'] == '5'){
//										status = PayOne.config.vars.rdI;
//									}
//									
//									col5 = status;
//									col6 = item.description[j][k]['vendors_activations']['ref_code'];
//																		
//									//var c1 = tObj.rows[rc].insertCell(0);                                    
//									//var c2 = tObj.rows[rc].insertCell(1);
//									//var c3 = tObj.rows[rc].insertCell(2);
//									//var c4 = tObj.rows[rc].insertCell(3);
//									//var c5 = tObj.rows[rc].insertCell(4);
//									//var c6 = tObj.rows[rc].insertCell(5);
//                                    
//									//c1.innerHTML= col6;
//                                    htmlStr = htmlStr+" <td>"+col6+"</td>";
//									//c2.innerHTML= col1;
//                                    htmlStr = htmlStr+" <td>"+col1+"</td>";
//									//c3.innerHTML= col2;
//                                    htmlStr = htmlStr+" <td>"+col2+"</td>";
//									//c4.innerHTML= col3;
//                                    htmlStr = htmlStr+" <td align='right'>"+col3+"</td>";
//									//c5.innerHTML= col4;
//                                    htmlStr = htmlStr+" <td>"+col4+"</td>";
//									//c6.innerHTML= col5;	
//                                    htmlStr = htmlStr+" <td>"+col5+"</td>";
//									//c4.style.textAlign = "right";
//                                     htmlStr = "</tr>";
//							 });
//						 });
//					}	
//				}
//				
//				if(tmp == ''){
//                    htmlStr = htmlStr+"<tr> <td colSpan='6'>"+'No Records Found'+"</td> </tr>";
//				}
//                $("#transStatusTableBody").html(htmlStr);
//			});
//		},
//		error: function(){}
//	});	
//}
//    function renderTransStatus1(){
//        
//      /*
//        var htmlStr = "<table class=\"table table-striped table-hover\"><thead>
//                                        <tr>
//                                          <th>#</th>
//                                          <th>Mobile No</th>
//                                          <th>Amount</th>
//                                          <th>Time</th>
//                                          <th>Status</th>
//                                        </tr>
//                                      </thead>
//                                      <tbody>
//                                        <tr>
//                                          <td>"++"</td>
//                                          <td>"++"</td>
//                                          <td>"++"</td>
//                                          <td>"++" </td>
//                                          <td>"++" </td>
//                                        </tr>
//                                        <tr>
//                                          <td>1</td>
//                                          <td>9811111111</td>
//                                          <td>50</td>
//                                          <td> </td>
//                                          <td> </td>
//                                        </tr>
//                                        
//                                      </tbody>
//                                    </table>
//                  ";*/
//    } 
    
   // $("#mobile").html(htmlStr);
    
    $('#transDate1').datepicker({
		"format": "dd-mm-yyyy"        
	});
    $('#transDate2').datepicker({
		"format": "dd-mm-yyyy"        
	});
    
    transStatusTable = $('#transStatusTable').DataTable({"aaSorting": []});
    lastTenTransTable = $('#lastTenTransTable').DataTable({"aaSorting": []});
    
    $('#searchReversal').click(function (e) {        
                    var date_from = $('#transDate1').val();
                    //var date_to   = $('#transDate2').val();
                    if(date_from == '' ){
                            alert("Please select proper date.");
                    } else {
                            var date_from_arr = date_from.split("-");
                            var dt = date_from_arr[2]+"-"+date_from_arr[1]+"-"+date_from_arr[0];  
                            PayOne.reports.renderTransStatus("vas",3,dt,true,"#transStatusTableBody",transStatusTable);                            
                    }
    });  
    
   
    $('#myTab a').on("click",function (e) {        
        var hash  = $(this).attr('href');        
        if(hash=="#details"){
            PayOne.reports.lastTran(3,"#lastTenTransTableBody",lastTenTransTable);// 3 for vas
        }else if(hash=="#status"){
            //var dt =  date.getFullYear() +"-"+( date.getMonth() <= 9 ?  ("0"+(date.getMonth()+1)) : (date.getMonth()+1) ) +"-"+(date.getDate() <= 9 ?  ("0"+date.getDate()) : date.getDate());  // Returns the yeardate_from_arr[2]+"-"+date_from_arr[1]+"-"+date_from_arr[0];  
            var dt = $('#transDate1').val().split("-").reverse().join("-");
            var callLogin = true;
            PayOne.reports.renderTransStatus("vas",3,dt,callLogin,"#transStatusTableBody",transStatusTable);
        }      
    });
    $('#searchByNo').on("click",function (e) {  
        
        var no = $("#searchNo").val().trim();
        if(no == ""){
            alert("Please enter a valid no.");return;
        }
        PayOne.reports.lastTranSearchByNo(3,no,"#lastTenTransTableBody",lastTenTransTable);// 3 for vas                    
    });
    
        
   
    

    
});
</script>


<!--<div id="content" class="container main snap-content">              -->
            			              
            <div class="breadcrumb">Entertainment</div>
				<ul id="myTab" class="nav nav-tabs">
				  <li class="active"><a href="#entertainment" data-toggle="tab">Entertainment</a></li>
				  <li class=""><a href="#status" data-toggle="tab">Complaint Status</a></li>
				  <li class=""><a href="#details" data-toggle="tab">Complaint Request</a></li>
				</ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="entertainment">
						
					</div>
					<div class="tab-pane fade" id="status">
<!--							<div class="form-inline StatusSearch">
                                <input type="text" class="form-control" value="<?php echo date("d-m-Y");?>" data-date-format="dd-mm-yyyy" id="dp1"><span class="glyphicon glyphicon-calendar"></span>
                            </div>
                             <div class="table-responsive">
                            	<table class="table table-striped table-hover">
                                      <thead>
                                        <tr>
                                          <th>#</th>
                                          <th>Mobile No</th>
                                          <th>Amount</th>
                                          <th>Time</th>
                                          <th>Status</th>
                                        </tr>
                                      </thead>
                                      <tbody id="transStatusTableBody">
                                        
                                      </tbody>
                                    </table>
                                    </div>-->
                                  <!--  <div class="form-inline StatusSearch">
                                    <span >Date</span><input style="margin-left:10px;width:150px;" id="transDate1" type="text" class="form-control" value="<?php echo date("d-m-Y");?>" data-date-format="dd-mm-yyyy" readonly>
                                    <input id="searchReversal" data-loading-text="Processing..." type="submit" class="default-btn searchProcess" value="search"/>
                                </div>-->
                                <!--                                    <span >To</span><input   style="margin-left:10px;width:150px;" id="transDate2" type="text" class="form-control" value="<?php echo date("d-m-Y");?>" data-date-format="dd-mm-yyyy" readonly>-->
<!--                                    <span id="searchReversal" class="glyphicon glyphicon-search" style="margin-left:10px;cursor:pointer"></span>-->
                                <ul id="myTab" class="nav nav-tabs">
                                  <li class=""><a href="#earningPrevious" class="reportNavigation reportNavigationPrev earningPrevious" onclick="PayOne.reports.renderTransStatus('mob',1,dt,true,'#transStatusTableBody',transStatusTable);"><span></span></a></li>
                                  <li class="active"><a href="#earningDate1" data-toggle="tab"><input style="margin-left:10px;width:150px;" id="transDate1" type="text" class="form-control" value="<?php echo date("d-m-Y");?>" data-date-format="dd-mm-yyyy" readonly /></a></li>
                                  <li class=""><a href="#earningNext" class="reportNavigation reportNavigationNext earningNext"><span></span></a></li>
                                </ul>
                          		<div class="table-responsive">
                            	<table class="table table-striped table-hover order-column" id="transStatusTable" cellspacing="0" width="100%">
                                      <thead>
                                        <tr>
                                          <th style="background: none repeat scroll 0 0 #e73c3c">#</th>
                                          <th style="background: none repeat scroll 0 0 #e73c3c"></th>
                                          <th style="background: none repeat scroll 0 0 #e73c3c">Mobile No</th>
                                          <th style="background: none repeat scroll 0 0 #e73c3c">Amount</th>
                                          <th style="background: none repeat scroll 0 0 #e73c3c">Time</th>
                                          <th style="background: none repeat scroll 0 0 #e73c3c">Status</th>
                                        </tr>
                                      </thead>
                                      <tbody id="transStatusTableBody">
                                        
                                      </tbody>
                                    </table>
                                    </div>
					</div>
                    <div class="tab-pane fade" id="details">
                            <div class="table-responsive">
                            <div class="form-inline RequestSearch">
                                <input id="searchNo" type="text" class="form-control" placeholder="Enter 10 digit No"/>
<!--                                <input id="searchByNo" type="submit" class="default-btn" value="search"/>   -->
                               <!-- <button id="searchByNo" data-loading-text="Processing..." type="submit" class="default-btn searchProcess">Search</button>-->
			 <input id="searchByNo" data-loading-text="Processing..." type="submit" class="default-btn searchProcess" value="search"/>
                            </div>
                            <table class="table table-striped table-hover order-column" id="lastTenTransTable" cellspacing="0" width="100%">
                                      <thead>
                                        <tr>
                                          <th style="background: none repeat scroll 0 0 #e73c3c">#</th>
                                          <th style="background: none repeat scroll 0 0 #e73c3c"></th>
                                          <th style="background: none repeat scroll 0 0 #e73c3c">Mobile No</th>
                                          <th style="background: none repeat scroll 0 0 #e73c3c">Amount</th>
                                          <th style="background: none repeat scroll 0 0 #e73c3c">Time</th>
                                          <th style="background: none repeat scroll 0 0 #e73c3c">Status</th>
                                        </tr>
                                      </thead>
                                      <tbody id="lastTenTransTableBody">                                        
                                        
                                      </tbody>
                                    </table>
                                    </div>
                    </div>
                </div>
            <div id="detailsModals" >
                
            </div>
                    
           