<script>
var deviceUuid = "";
$(function() {
    params = [];
    function getVASProducts(obj,id1){
        //showHide(obj,id1);
        //$('#vasList').html(loader);
                   
                   
        $.ajax({
            url: PayOne.config.urls.api,
            type: "POST",
            data: {method:'getVASProducts'},
            dataType: 'jsonp',
            jsonp: 'root',
            timeout: 50000,
            success: function(data, status){
                $.each(data, function(i,item){
                if(item.status == 'failure'){failChk(item.code,item.description);
                }else{
                    var t = '';				
                        if(item.status == 'success'){						
                            //t += '<ul data-inset="true" data-role="listview" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">';	
                            var htmlStr = "";
                           $.each(item.description, function(j,item1){
                                
                                //    var amt = item1['prods']['price'];
                              
                                
                                /*htmlStr = htmlStr + "<div class=\"enterTopic clearfix\">"+
                                            "<p><a href=\"/pages/recharges/vas/"+item1['prods']['name']+"/"+item1['prods']['product_id']+"\">"+item1['prods']['name']+price+"</a></p>"+
                                            "<a href=\"#details"+item1['prods']['product_id']+"\" data-toggle=\"modal\" data-target=\"#details"+item1['prods']['product_id']+"\">Details</a>"+
                                        "</div>"*/
                                   
                                  if(item1['prods']['product_id'] == $("#operatorId").val()){ 
                                            params = item1['prods']['params']['allParams']['param'];
                                            // loop
                                            $.each(item1['prods']['params']['allParams']['param'],function(i,v){
                                                 htmlStr = htmlStr +  "<div class=\"form-group\">"+
                                                                    "<label for=\"mobileNo\">Enter "+v.field+"</label>"+
                                                                    "<input type=\"text\"" +
                                                                    //       "pattern=\"^\d{10,10}\""+
                                                                    " placeholder=\"\" id=\""+v.field+"\" class=\"form-control\">"+
                                                                "</div>";
                                            });
                                         

                                  }
//                                htmlDetailsStr = htmlDetailsStr +
//                                "<div class=\"modal fade\" id=\"details"+item1['prods']['product_id']+"\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"myModalLabel\" aria-hidden=\"true\">"+
//                                  "<div class=\"modal-dialog\">"+
//                                    "<div class=\"modal-content\">"+
//                                      "<div class=\"modal-header\">"+
//                                        "<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\">&times;</button>"+
//                                        "<h4 class=\"modal-title\" id=\"myModalLabel\">"+item1['prods']['name']+"</h4>"+
//                                      "</div>"+
//                                      "<div class=\"modal-body\">"+
//                                     +item1['prods']['shortDesc']+"<br/>"
//                                     +item1['prods']['longDesc'].split("\r\n").join("<br/>") +
//                                      
//                                      "</div>"+
//                                      "<div class=\"modal-footer\">"+
//                                        "<button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\">Close</button>"+
//                                      "</div>"+
//                                    "</div>"+
//                                  "</div>"+
//                                "</div>";
                                /*var f = '';
                                var price = '';
                                var amt = 0;
                                p[j] = new Array(4);
                                p[j][0] = item1['prods']['name'];
                                p[j][3] = item1['prods']['shortDesc']+"\n"+item1['prods']['longDesc'];
                                if(j==0)
                                    f = 'ui-corner-top';
                                if(item1['prods']['price']){
                                    var price = " - Rs." + item1['prods']['price'];
                                    var amt = item1['prods']['price'];
                                }
                                t += '<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c '+f+'"><div class="ui-btn-inner ui-li ui-corner-top" aria-hidden="true"><div class="ui-btn-text"><a onClick="showVASFrm(\'page1\',\'vasForm\','+j+')" class="ui-link-inherit">'+item1['prods']['name']+price+'</a><a href="javascript:void(0);" style="position:absolute; top:10px;left:200px;" onclick="vasInfo('+j+')"><img src="<?php echo Configure::read('AWS_URL'); ?>/images/spacer.png" class="icons info"></a></div></div></li>';
                                var l = '<div class="ui-hide-label ui-field-contain ui-body ui-br">';
                                    l += '<span style="font-weight:bold; padding-top:10px">'+item1['prods']['name']+price+'</span>';
                                    l += '</div>';
                                var m = 0;
                                p[j][1] = new Array();
                                $.each(item1['prods']['params']['allParams']['param'], function(k,item2){
                                    l += '<div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">';
                                    l += '<label for="name" class="ui-input-text">'+item1['prods']['params']['allParams']['param'][k]['field']+':</label>';
                                    var t = 'text';
                                    if(item1['prods']['params']['allParams']['param'][k]['field'] == 'Mobile' && item1['prods']['params']['allParams']['param'][k]['field'] == 'PNR')
                                        t = 'number';
                                    l += '<input type="'+t+'" maxlength="'+item1['prods']['params']['allParams']['param'][k]['length']+'" id="'+item1['prods']['params']['allParams']['param'][k]['field']+j+'" value="" class="ui-input-text ui-body-d ui-corner-all ui-shadow-inset" >';
                                    l += '</div>';
                                    p[j][1][m] = item1['prods']['params']['allParams']['param'][k]['field'];
                                    m++;
                                });
                                l += '<div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">';
                                l += '<div id="vas_req_loader'+j+'" class="loaderAlign">';
                                    l += '<div data-role="fieldcontain" class="ui-field-contain ui-body ui-br loaderAlign">';
                                    l += '<label>&nbsp;</label>';
                                    l += '<div data-theme="d" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-up-d" aria-disabled="false">';
                                    l += '<span class="ui-btn-inner ui-btn-corner-all" aria-hidden="true"><span class="ui-btn-text">Submit</span></span>';
                                    l += '<input type="submit" onClick="vasRecharge('+j+','+item1['prods']['product_id']+','+amt+');" value="Submit" class="ui-btn-hidden">';
                                    l += '</div></div></div>';

                                p[j][2] = l;*/
                            });
                           // t += '</ul>';				    
                            $('#dynamic_fields').html(htmlStr);
                            //$('#detailsModals').html(htmlDetailsStr);
                            
                        }			
                    }
                });
            },
            error: function(){$('#vasList').html('');}
        });
    }
    getVASProducts();
    
    
    
    
     $('#vasRecharge').on('submit', function (event) {
           
         event.preventDefault();
         vasRecharge(1);
     });
    
    function mobileValidate(y){
        var y = y.trim();
        if(y == ""){alert("Enter mobile number");return 0;
        }else if(isNaN(y)||y.indexOf(" ")!= -1){alert("Mobile number should contain numeric values");return 0;
        }else if(y.length != 10){alert("Mobile number should be a 10 digit number");return 0;
        }
        return 1;
    }

    
    function vasRecharge(cnfFlag){
       // prevPage = fromLocation;

        //var mobileNo = $("#mobileNo").val().trim();
        //var rechargeAmt = $("#rechargeAmt").val().trim();
        //if(mobileValidate(mobileNo) == '0') return;	
        //if(amtValidate(rechargeAmt) == '0')return;
        
        var paramStr = 'method=vasRecharge&product='+$("#operatorId").val();
        
        $.each(params,function(i,v){
             paramStr = paramStr + "&"+v.field+"="+$("#"+v.field).val();                                
        });
        //method:"mobRecharge",mobileNumber:mobileNo,operator:$("#operatorId").val(),/*circle:$('#mob-rec-cir').val(),*/special:stv,type:"fix"}
        var cnf = '';
        /*for(var i=0; i < p[j][1].length; i++){
            str += '&'+p[j][1][i]+'='+$("#"+p[j][1][i]+j).val();
            cnf += p[j][1][i]+': '+$("#"+p[j][1][i]+j).val()+'\n';
            if(p[j][1][i] == 'Mobile' && mobileValidate($("#"+p[j][1][i]+j).val()) == '0') return;	
        }*/

        //cnf += "Amount: "+amt+"\n";
        var r=confirm(cnf+"Press OK to confirm");
        if(r==true){
            //var tmp = $('#vas_req_loader'+j).html();
            //$('#vas_req_loader'+j).html(loader);
             $('#vasRechargeSubmit').button('loading');
         
            $.ajax({
                url:  PayOne.config.urls.api,
                type: "POST",
                data: paramStr,
                dataType: 'jsonp',
                jsonp: 'root',
                timeout: 50000,
                success: function(data, status){
                    $('#vasRechargeSubmit').button('reset');
                    //$('#vas_req_loader'+j).html(tmp);
                    $.each(data, function(i,item){				
                        if(item.status == 'failure'){PayOne.core.failChk(item.code,item.description,true);
                        }else{
                            if(item.status == 'success'){
                                $('#retailerBal').html(item.balance);
                                PayOne.core.cookie.set("balance", item.balance, 1);
                                var desc = 'Recharge request sent successfully!<br/>Your balance: '+item.balance;		
                                $('#success_description').html(desc);
                                $('#success').modal("show");
                                setTimeout(function(){
                                   window.location="/vas";  //redirect to main page
                                }, 3000);
                                /*for(var i=0; i < p[j][1].length; i++){
                                    $("#"+p[j][1][i]+j).attr('value', '');
                                }*/
                                //showHide('page1','vas');
                            }
                        }
                    });
                },
                error: function(){
                    $('#vasRechargeSubmit').button('reset');
                    $('#vas_req_loader'+j).html(tmp);
                }
            });
        }
    }
    
});
</script>
              
            <div class="breadcrumb"><a href="/<?php echo $type ;?>"><?php echo ucfirst($type); ;?></a> &gt; <a href="#"><?php echo $operatorName ;?></a> &gt; Recharge</div>
				<form role="form" id="vasRecharge">
                    <div class="form-group">
                        <input type="hidden" name="operatorId" id="operatorId" value="<?php echo $operatorId ;?>" />
                        <input type="hidden" name="operatorName" id="operatorName" value="<?php echo $operatorName ;?>" />
                        <input type="hidden" name="operatorType" id="operatorType" value="<?php echo $type ;?>" />
                        <?php if($type == "mobile"){?>
						<input style="width: 40px ; float:left;" type="radio" class="form-control" id="stvOrTopUp_radio1" name="stvOrTopUp_radio" value="0" placeholder="" checked="true"/><label for="stvOrTopUp_radio1" style="float:left;">Top Up</label>
                        <input style="width: 40px; float:left;" type="radio" class="form-control" id="stvOrTopUp_radio2" name="stvOrTopUp_radio" value="1" placeholder=""/><label for="stvOrTopUp_radio2" >STV</label>
						<?php }?>
					</div>
                    <div id="dynamic_fields">
                        
                    </div>
					<!--<div class="form-group">
						<label for="mobileNo"  for="mobileNo">Enter Prepaid Mobile Number</label>
						<input type="text" class="form-control" id="mobileNo" placeholder="" pattern="^\d{10,10}" title="10 Digit Mobile No" />
					</div>-->
					
					
					
                    
					<button id="vasRechargeSubmit" data-loading-text="Processing..." type="submit" class="form-control default-btn"  >Proceed</button>
                </form>

				