<div class="chatBox" id="chat_box">
    <button class="openChat">Lets Chat</button>
    <p>Do you have any questions?
        Ask us below<span class="chat_toggle slide_down" ></span></p>
    <!--                        <form class="chat">
                                <textarea placeholder="Ask your Question?"></textarea>
                                <input type="submit" value="Let&acute;s Chat">
                            </form>	-->
    <iframe id="chat_box_iframe" src="">

    </iframe>
</div>