<div class="padded snap-drawer snap-drawer-right">
    <div class="mobileMenu">.
        <div class="media-list">
            <div class="media">
                <a class="pull-left" href="#"><img class="media-object user-img" src="<?php echo Configure::read('AWS_URL'); ?>/img/ic_loggedin.png" alt="..."></a>
                <div class="media-body">
                    <h4 class="media-heading">Welcome</h4>
                    <p>Rudra Vayuputra</p>
                    <p class="balance">0000.00</p>
                </div>
            </div>
        </div>
        <ul >
            <li><a href="update-address.html" class="mobileUpdateAddress">Update Address</a></li>
            <li><a href="update-pin.html" class="mobileUpdatePin">Update Pin</a></li>
            <li><a href="update-mobile.html" class="mobileUpdateMobile">Update Mobile</a></li>
            <li><a href="#" class="mobileLogout">Logout</a></li>
        </ul>
    </div>

    <!--<ul class="notification-list" id="notification_right_side">
        <li class="notification">
            <p>Pay 1 notification 1 info about recharge </p>
            <span>03/01/2014 2:30pm</span>
        </li>  
        <li class="notification gray">
            <p>Pay 1 notification 1 info about recharge </p>
            <span>03/01/2014 2:30pm</span>
        </li>
        <li class="notification gray">
            <p>Pay 1 notification 1 info about recharge </p>
            <span>03/01/2014 2:30pm</span>
        </li>
        <li class="notification white">
            <p>Pay 1 notification 1 info about recharge </p>
            <span>03/01/2014 2:30pm</span>
        </li>
        <li class="notification gray">
            <p>Pay 1 notification 1 info about recharge </p>
            <span>03/01/2014 2:30pm</span>
        </li>
        <li class="notification white">
            <p>Pay 1 notification 1 info about recharge </p>
            <span>03/01/2014 2:30pm</span>
        </li>
        <li class="notification gray">
            <p>Pay 1 notification 1 info about recharge </p>
            <span>03/01/2014 2:30pm</span>
        </li>
        <li class="notification gray">
            <p>Pay 1 notification 1 info about recharge </p>
            <span>03/01/2014 2:30pm</span>
        </li>
        <li class="notification white">
            <p>Pay 1 notification 1 info about recharge </p>
            <span>03/01/2014 2:30pm</span>
        </li>
        <li class="notification gray">
            <p>Pay 1 notification 1 info about recharge </p>
            <span>03/01/2014 2:30pm</span>
        </li>
        <li class="notification white">
            <p>Pay 1 notification 1 info about recharge </p>
            <span>03/01/2014 2:30pm</span>
        </li>
        <li class="notification gray">
            <p>Pay 1 notification 1 info about recharge </p>
            <span>03/01/2014 2:30pm</span>
        </li>
        <li class="notification gray">
            <p>Pay 1 notification 1 info about recharge </p>
            <span>03/01/2014 2:30pm</span>
        </li>
        <li class="notification white">
            <p>Pay 1 notification 1 info about recharge </p>
            <span>03/01/2014 2:30pm</span>
        </li>
        <li class="notification gray">
            <p>Pay 1 notification 1 info about recharge </p>
            <span>03/01/2014 2:30pm</span>
        </li>
        <li class="notification white">
            <p>Pay 1 notification 1 info about recharge </p>
            <span>03/01/2014 2:30pm</span>
        </li>
    </ul>-->



</div>