
<div class="row" style="width:100%;">
  				<div class="col-md-3"></div>
  				<div class="col-md-6"> <a href="https://play.google.com/store/apps/details?id=com.pay1" target="_blank"><img src="<?php echo Configure::read('AWS_URL'); ?>/images/B2C-instant-recharge.png" class="img-responsive"></a></div>
  				<div class="col-md-3">
				</div>
</div>
<br/>
<footer>
	
  <div class="footer">
  <div class="row" style="width:100%;">
  <div class="col-md-6"> 
  		<div class="footer_txt">
      <div class="footer_left"> A MindsArray Technologies Pvt. Ltd. Product. All Rights Reserved © 2014 Pay1™<br>
      <a href="http://www.mindsarray.com" style="font-size:12px" target="_blank">www.mindsarray.com</a> | 
      <a href="https://pay1.in" style="font-size:12px" target="_blank">www.pay1.in</a>
        </div>
        </div>
       <!-- <div>
       <ul>
           <li style="display: none;"><a href="panel.pay1.in">Panel.pay1.in</a></li>
           <li style="display: none;"><a href="rx.pay1.in">rx.pay1.in</a></li>
           <li style="display: none;"><a href="shop.pay1.in">shop.pay1.in</a></li>
           <li style="display: none;"><a href="pay1.in"></a></li>

       </ul>
   </div>-->

  </div><!-- col-md-6 -->
  <div class="col-md-6"><!--<div class="footer_right"> -->
    <a href="https://pay1.in/about-us"> About us</a> | 
    <a href="/tandc"> Terms &amp; Conditions</a> | 
    <a href="/cnrp"> Cancellation &amp; Return Policy</a> | 
    <a href="/privacy">Privacy Policy</a> | 
    <a href="/faq">FAQ</a> |
    <a href="https://pay1.in/partners?ref=c2hvcC5wYXkxLmlu">Contact us</a> </div>
    </div>
  </div></div>
</div> 
		
    
</footer>