
<style type="text/css">
.taggLinkBG1 {background-color: #FF8800 !important;}
.success {
background: #FFCC00;
padding: 2px 5px;
}
.error{
font-size: 1em;
background: red;
padding: 2px 5px;
color: white;
}
.btn-main-download {
    background: none repeat scroll 0 0 #ed1c24;
    border: 1px solid #fff;
    border-radius: 0.25em;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all 0.25s ease-in-out 0s;
	color:white; text-decoration: none;
}

.btn-main-download a{
 	color: #fff;
}
</style>
 <!--fb js sdk -->
<div id="fb-root"></div>
<script> /*
 $(document).ready(function() {
  $.ajaxSetup({ cache: true });
  $.getScript('//connect.facebook.net/en_US/sdk.js', function(){
    FB.init({
      appId: '{your-app-id}',
      version: 'v2.3' // or v2.0, v2.1, v2.0
    });     
    $('#loginbutton,#feedbutton').removeAttr('disabled');
    FB.getLoginStatus(function(){});
  });
}); */
</script>
<script> 
    /* (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
*/
</script>
<!--end-->
<header>
    <div class="container" style="width:100%;">
       
        <div id="absolute1" style="width:100%;">
        	<div class="row" style="width:100%;">
  				<div class="col-md-3"> <h1 class="navbar-header"><a href="/"><img style="padding:10px;margin-left:10px;" src="/images/pay1_logo.svg"></a></h1></div>
  				<div class="col-md-6"> 
  					<a id="top_banner" href="https://pay1.in/partners?ref=cGF5MS5pbg==" target="_blank">
  						<!--<img src="/images/B2B-multiple-income.png" class="img-responsive">-->
                                                <img src="<?php echo Configure::read('AWS_URL'); ?>/images/B2B-multiple-income.png" class="img-responsive">
                                                
  					</a>
<!--   					<a id="top_banner" href="https://www.facebook.com/pay1Store" target="_blank"> -->
<!--   						<img src="/img/banner_fm104.png" class="img-responsive"> -->
<!--   					</a> -->
  				</div>
  				<div class="col-md-3">
                	 <div class="nav navbar-nav navbar-right">
            <ul>
                <li>
                    <div class="media-list">
                        <div class="media" id="media_header_section">
                            <a class="pull-left" href="#"><img class="media-object user-img" src="<?php echo Configure::read('AWS_URL'); ?>/img/ic_login.png" alt="..."></a>
                            <div class="media-body">
                                <p class="top" style="color:black;">Welcome Guest</p>
                                <p>
                                	<a data-toggle="modal" data-target="#login" style="background:#ed1c24; border:1px solid #ed1c24; border-radius:3px; text-transform:uppercase; color:#fff; margin-right:5px; margin-bottom:5px; padding:5px; font-size:10px;cursor:pointer;" value="Login">Login</a>
                        			<a href="https://pay1.in/partners?ref=c2hvcC5wYXkxLmlu" style="background:#fff; border:1px solid #ed1c24; border-radius:3px; text-transform:uppercase; color:#ed1c24; margin-right:5px; margin-bottom:5px; padding-top: 5px;padding-bottom: 3px; font-size:10px;" value="Signup">Signup</a>
                                </p>
                            </div>
                        </div>
                    </div>


                </li>
                <li id="refreshBalLi" style="display:none">
                    <div class="btn-group">                       
                        <span style="cursor: pointer;" class="balRefresh" title="Refresh Balance">
                        	<img src="<?php echo Configure::read('AWS_URL'); ?>/img/ic_refresh.png">
                        </span>
                    </div>
                </li>
                <li>
                    <div class="btn-group">
                        <button class="dropdown-toggle setting" type="button" data-toggle="dropdown">
                            <img src="<?php echo Configure::read('AWS_URL'); ?>/images/ic_settings.png" style="color:black;">
                        </button>
                        <ul class="dropdown-menu settingMenu" style="border:none">
                            <li style="border:none"><a href="/updateAddress">Update Address</a></li>
                            <li style="border:none"><a href="/updatePin">Update Pin</a></li>
                            <li style="border:none" id="logoutActionLi"><a id="logoutAction" href="#">Logout</a></li>

                        </ul>
                    </div>
                </li>
                <li>
                    <div class="btn-group">
                        <button id="show_notifications" class="dropdown-toggle setting" type="button" data-toggle="dropdown">
                            <img src="<?php echo Configure::read('AWS_URL'); ?>/images/ic_notif.png"><span class="badge" id="notifications_count"></span>
                        </button>
                        <ul class="dropdown-menu notification-list-top" id="notification_right_side"><li class="notification gray" style="width:100%;"><p>You will find all your notification here .</p></li></ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
                </div>
                </div>
		
		
        
        </div>
       
	<hr style="margin-top:0px;border-color:black;">
</header>



