<script type="text/javascript">
    
       var flag = PayOne.core.cookie.get("flag");
                                
</script>

<div class="padded snap-drawer snap-drawer-left">
    <aside>
        <ul class="left-menu">
<!--			<li class="mobile "><a href="/mobile">Mobile<span style="background-color: white; color: black; border: none; font-size: 15px; margin-top: -8px;" class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>-->
            <li class="mobile <?php echo $type == "mobile" ? "activeMenu" : "" ?>" onclick="return UrlFunction('mobile');" style="cursor:pointer;"><a href="/mobile">Mobile<span class="glyphicon glyphicon-chevron-right pull-right type"></span></a></li>
           <li class="dth <?php echo $type == "dth" ? "activeMenu" : "" ?>" onclick="return UrlFunction('dth');" style="cursor:pointer;"><a href="/dth"> DTH<span class="glyphicon glyphicon-chevron-right pull-right type"></span></a></li>
           <li class="bill <?php echo $type == "mobile_billpayment" ? "activeMenu" : "" ?>" onclick="return UrlFunction('mobile_billpayment');" style="cursor:pointer;"><a href="/mobile_billpayment"> Bill Payment<span class="glyphicon glyphicon-chevron-right pull-right type"></span></a></li>
            <li class="utility <?php echo $type == "utility_billpayment" ? "activeMenu" : "" ?>" onclick="return UrlFunction('utility_billpayment');" style="cursor:pointer;"> <a href="/utility_billpayment">Utility Bill Payment<span class="glyphicon glyphicon-chevron-right pull-right type"></span></a></li>
<!--         <li class="entertainment <?php echo $type == "vas" ? "activeMenu" : "" ?>" onclick="return UrlFunction('vas');" style="cursor:pointer;"><a href="/vas"> Entertainment<span class="glyphicon glyphicon-chevron-right pull-right type"></span></a></li>  -->  

		   <li class="wallet <?php echo $type == "wallet" ? "activeMenu" : "" ?>" onclick="return UrlFunction('wallet');" style="cursor:pointer;"><a  href="/wallet">Wallet Topup<span class="glyphicon glyphicon-chevron-right pull-right type"></span></a></li>
                   <script type="text/javascript">
                    if(flag==1){
                    document.write("<li class='online <?php echo $type == 'limit' ? "activeMenu" : "" ?>' onclick='return UrlFunction(\"limit\");' style='cursor:pointer;'><a  href='/limit'>Online Limit<i class='glyphicon glyphicon-chevron-right pull-right type'></i></a></li>");
                       }
                    </script>
           <li class="payment <?php echo $type == "payment" ? "activeMenu" : "" ?>" onclick="return UrlFunction('payment');" style="cursor:pointer;"><a  href="/payment">C2D Payment<span class="glyphicon glyphicon-chevron-right pull-right type"></span></a></li>          
           <li class="reversal <?php echo $type == "complaint" ? "activeMenu" : "" ?>" onclick="return UrlFunction('report/complaint');" style="cursor:pointer;"><a href="/report/complaint">Complaint<span class="glyphicon glyphicon-chevron-right pull-right type"></span></a></li>
            
           <li class="reports1 <?php echo ($type == "reports") ? "activeMenu active" : ""; ?>"> <a href="" class="">Reports<span class="glyphicon glyphicon-chevron-right pull-right type"></span></a>
                <ul class="reportSubMenu">
                    <li class="sub-reports <?php echo (!empty($sub_type) && $sub_type == "earning") ? "activeMenu" : ""; ?>"><a href="/report/earning">Earnings</a></li>
                    <li class="sub-reports <?php echo (!empty($sub_type) && $sub_type == "transactions") ? "activeMenu" : ""; ?>"><a href="/report/transactions">Transactions</a></li>
                    <li class="sub-reports <?php echo (!empty($sub_type) && $sub_type == "commission") ? "activeMenu" : ""; ?>"><a href="/report/commission">Discount Structure</a></li>
                    <li class="sub-reports <?php echo (!empty($sub_type) && $sub_type == "topup") ? "activeMenu" : ""; ?>"><a href="/report/topup">Top Ups</a></li>
                    <li class="sub-reports <?php echo (!empty($sub_type) && $sub_type == "history") ? "activeMenu" : ""; ?>"><a href="/report/history">Account History</a></li>
                </ul>
            </li>
           <li class="support <?php echo ($type == "support") ? "activeMenu active" : ""; ?>" onclick="return UrlFunction('support');" style="cursor:pointer;"> <a href="/support" class="">Support<span class="glyphicon glyphicon-chevron-right pull-right type"></span></a>
<!--            <li class="bus <?php echo $type == "bus" ? "activeMenu" : "" ?>"><a href="bus-booking.php">Bus Booking</a><span></span></li>-->
           
<!--            <li class="data <?php echo $type == "datacard" ? "activeMenu" : "" ?>"><a href="data-card.php">Data Card</a><span></span></li>-->
<!--            <li class="recharge <?php echo $type == "qrecharge" ? "activeMenu" : "" ?>"><a href="quick-recharge.php">Quick Recharge</a><span></span></li>-->
           <!--  <a href="#"><li class="chat open_chat_box <?php echo $type == "chat" ? "" : "" ?>">Chat Support<span></span></li></a>-->
            
        </ul>
    </aside>                     
</div>

 <script type="application/javascript">
    function UrlFunction (param) {
        var url = '/'+param;
        window.location = url;
    }
 </script>